@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");
.button-blue a {
  color: white;
  border-color: #007ac0;
  background: #007ac0;
}
.button-blue a:hover {
  background-color: #000;
  color: white;
  border-color: #000;
}
body {
  background-color: #f8f8f8;
  font-family: Arial;
  padding-left: 75px;
  padding-right: 0;
  /* Tableau Trésorerie */
  /* Tableau Comptes à recevoir ou Liste de heures passées */
}
body #form1 {
  display: table;
}
body td[valign="top"] {
  vertical-align: top;
}
body #contentWrapper {
  padding: 3em;
  border-radius: 0;
  min-height: 100vh;
  background-color: white;
}
body #ButtonMenuBox {
  margin: 1em auto 1em;
  text-align: center;
}
body #kMainMargin {
  margin: 0;
  padding: 0;
}
body #kMainMargin > div {
  padding: 0!important;
}
body #simpleTooltip {
  background-color: black;
  border: none;
  color: white;
  margin-top: -20px;
  margin-left: 10px;
  margin-right: 10px;
  z-index: 100;
}
body .ui-dialog input:not(#ContentPlaceHolder0_ContentPlaceHolder1_TimeEntryEdit_Hours) {
  padding: 0.75em!important;
  height: auto;
  line-height: normal;
  border: 1px solid #BDBDBD;
  border-radius: 0.3em;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.2em;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_ImageButtonnext,
body #ContentPlaceHolder0_ContentPlaceHolder1_ImageButtonprevious {
  position: absolute;
  top: 50%;
  margin-left: -15px;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_paypalpanel {
  width: 40%;
  display: inline;
  height: 50px;
  margin: 0;
  box-sizing: border-box;
  margin-top: 0!important;
  padding-left: 5em;
  padding-right: 5em;
  padding-top: 25px;
}
body .externalLinkBox {
  height: 50px;
  width: 60%;
  padding-right: 5em;
  padding-left: 5em;
  box-sizing: border-box;
  text-align: right;
  padding-top: 0px;
  margin-bottom: 34px;
}
body .externalLinkBox input {
  border: none;
  border-bottom: 1px solid #007ac0;
  color: #007ac0;
  background-color: transparent;
}
body .externalLinkBox #ContentPlaceHolder0_ContentPlaceHolder1_DocumentPreviewLink {
  margin-left: -18px;
}
body #bankDiv,
body #rateDiv {
  box-sizing: border-box;
  float: left;
  width: 49%;
}
body #bankDiv input[type="text"],
body #rateDiv input[type="text"] {
  background-color: #f8f8f8;
  border: none ;
  color: #303030 ;
  font-size: 3em;
  margin: 5px 0 10px ;
  padding: 5px 10px ;
  text-align: left ;
  width: 100%;
}
body #budgetSummary {
  background: transparent;
}
body #budgetSummary tr td {
  background-color: transparent;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  padding: 10px 10px;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
}
body #budgetSummary tr td.budgetHeader,
body #budgetSummary tr td.budgetHeaderCurrent {
  background: transparent;
  color: black;
}
body #budgetSummary tr td.budgetLineHeader {
  color: #808080;
  text-align: left;
}
body #budgetSummary tr td.budgetVide,
body #budgetSummary tr td.budgetEmpty,
body #budgetSummary tr td.budgetVideBorderBottom,
body #budgetSummary tr td.budgetGris,
body #budgetSummary tr td.budgetVert,
body #budgetSummary tr td.budgetRouge {
  background: transparent;
  border: none;
}
body #budgetSummary tr td.budgettotal {
  background: #303030;
  border: none;
  font-size: 14px;
  padding: 20px 10px;
  text-align: center;
  text-shadow: none;
}
body #budgetSummary tr td.budgettotalnegatif {
  color: #e74c3c;
}
body #budgetSummary tr td.budgettotalpositif {
  color: #40A014;
}
body #budgetSummary tr td.budgetRouge {
  color: #e74c3c;
}
body #budgetSummary tr td.budgetVert {
  color: #40A014;
}
body #budgetSummary tr td[show="True"] {
  color: black;
  font-weight: bold;
  font-style: 1.2em;
}
body #budgetSummary tr td[show="True"].info[type="fact"],
body #budgetSummary tr td[show="True"].info[type="prevfact"] {
  color: #40A014;
}
body #budgetSummary tr td[show="True"].depense,
body #budgetSummary tr td[show="True"].info[type="prevdepense"],
body #budgetSummary tr td[show="True"].info[type="depense"] {
  color: #e74c3c;
}
body #budgetSummary tr td.budgettotal:first-child {
  background: transparent;
  border: none;
}
body #budgetSummary tr td:nth-of-type(3).budgetGris {
  background: transparent;
  border-color: #f7f7f7;
}
body #budgetSummary tr td.budgettotal:nth-child(3) {
  color: white;
}
body #budgetSummary tr td.redlink:hover {
  background-color: rgba(0, 0, 0, 0.1);
  text-decoration: none;
}
body #budgetSummary tr td #solde {
  background: transparent;
  border: 1px solid #606060;
  padding: 0.5em;
  border-radius: 2px;
  color: white;
  font-size: 16px;
  text-align: left;
  width: 50%;
  margin-left: 10px;
}
body #budgetSummary tr td .tooltip {
  background-color: #E6E6E6;
  border: 1px solid #E6E6E6;
  box-shadow: none;
  padding: 15px;
}
body #budgetSummary tr td .tooltip table tr:first-child td {
  border-top: none;
  border-bottom: none;
  font-size: 0.8em;
}
body #budgetSummary tr td .tooltip table tr.evenbudget,
body #budgetSummary tr td .tooltip table tr.oddbudget {
  background-color: #f8f8f8;
}
body #budgetSummary tr td .tooltip table tr.hoverbudget {
  transition: all 0.3;
  background-color: white;
}
body #budgetSummary tr td .tooltip table tr td:not(:last-child) {
  text-align: left;
}
body #budgetSummary tr td .tooltip table tr td:last-child {
  text-align: right;
}
body #budgetSummary tr td .tooltip .gridview {
  margin: 0;
}
body #budgetSummary > tbody > tr > td:first-child,
body #budgetSummary > tbody > tr > td:nth-child(1),
body #budgetSummary > tbody > tr > td:nth-child(2) {
  display: none;
}
body #budgetSummary > tbody > tr > td[colspan="10"],
body #budgetSummary > tbody > tr > td[colspan="13"] {
  display: block;
}
body #budgetSummary .noteBudget {
  display: none;
}
body #budgetSummaryBox {
  border-bottom: none;
}
body #clients {
  padding: 5px;
}
body #description,
body #nomprojet {
  height: auto;
  line-height: 1.25em;
  width: 100%;
  vertical-align: middle;
}
body #descriptionLabel {
  vertical-align: top;
}
body #divHistory {
  margin: 0% 5%;
  width: 70%;
  box-sizing: border-box;
  display: block;
  height: auto;
  max-height: 2000px;
  opacity: 1;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
body #divHistory.divCachee {
  width: 70%;
  margin: 0% 5%;
  display: block;
  height: auto;
  max-height: 0px;
  opacity: 0;
  transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}
body #divHistory:not(.divCachee) {
  margin: 0% 5%;
  width: 70%;
  box-sizing: border-box;
  display: block;
  height: auto;
  max-height: 2000px;
  opacity: 1;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding-bottom: 30px;
  padding-top: 30px;
}
body #divmodal,
body #projectarea,
body #notesArea {
  color: #777777;
}
body #KiwiliAlertPopup > div {
  top: 30vh;
}
body #KiwiliAlertPopup > div > div {
  font-size: 1.25em;
  padding: 2em;
}
body #KiwiliAlertPopup > div .button a {
  color: white;
  border-color: #007ac0;
  background: #007ac0;
}
body #KiwiliAlertPopup > div .button a:hover {
  background-color: #000;
  color: white;
  border-color: #000;
}
body #KiwiliAlertPopup > div .button a:after {
  content: "OK";
  font-family: Arial;
}
body #heuresArea input[type="text"] {
  background: white;
  border: none;
  color: #007ac0;
  margin: 5px 0 10px;
  padding: 5px 10px;
  text-align: left;
}
body #imgloading div,
body .loading {
  background: transparent;
  border: none;
  font-size: 3em;
}
body #imgloading,
body #imgloadingmodal,
body .update {
  bottom: 1%;
  right: 2%;
  text-align: right;
  top: inherit;
  width: auto;
}
body #itemsTable thead {
  border-bottom: 2px solid #f8f8f8;
  color: #303030;
}
body #kFooter {
  background-color: transparent;
  height: 3em;
}
body #kFooter #kiwiliLogo img {
  display: none;
}
body #kFooter #kFooterBox {
  padding: 1em 3% 0;
  background-color: white;
  box-sizing: border-box;
  height: 40px;
}
body #kFooter #kCopyrights {
  padding-left: 0;
  color: #303030;
}
body #kFooter #kBottomMenu a {
  color: #303030;
}
body #kFooter #kBottomMenu a i {
  display: none;
}
body #kFooter #kBottomMenu a:hover {
  transition: color .2s;
  color: #007ac0;
}
body #kFooter .kPlan {
  display: none;
}
body #kFooter .kPlan a {
  font-size: 11px;
  font-weight: bold;
  padding-left: 2px;
}
body #kFooter .kPlan:before {
  content: "KIWILI";
  color: #BDBDBD;
  font-weight: bold;
  font-size: 11px;
  padding-left: 0.75em;
}
body #topBar {
  background: #303030;
  height: 40px;
}
body #topBar #kClientName a {
  font-size: 12px;
}
body #kGlobalMenuTableCell {
  display: block;
}
body #kMainMenu,
body #kMainMenu.sticky {
  background-color: #007ac0;
  box-shadow: none;
  float: left;
  height: 1206px;
  left: 0;
  opacity: 1;
  padding: 0;
  position: fixed;
  top: 0;
  transition: none;
  width: 75px;
  z-index: 10000;
  font-size: 1.2em;
}
body #kMainMenu #kMenuUL li,
body #kMainMenu.sticky #kMenuUL li {
  display: block;
  padding: 0;
}
body #kMainMenu #kMenuUL li a,
body #kMainMenu.sticky #kMenuUL li a {
  margin: 0 auto;
  border-radius: 0;
  font-size: 0.7em;
  padding: 1em 0.6em;
  transition: all .3s;
}
body #kMainMenu #kMenuUL li a:visited,
body #kMainMenu.sticky #kMenuUL li a:visited,
body #kMainMenu #kMenuUL li a:hover,
body #kMainMenu.sticky #kMenuUL li a:hover {
  background: rgba(48, 48, 48, 0.4);
  transition: all .3s;
}
body #kMainMenu #kMenuUL li a.on,
body #kMainMenu.sticky #kMenuUL li a.on {
  background: #303030;
  transition: all .3s;
}
body #kMainMenu #kMenuUL li a:before,
body #kMainMenu.sticky #kMenuUL li a:before {
  -webkit-font-smoothing: antialiased;
  padding: 0;
}
body #kMainMenu #kMenuUL li a#bookinglink,
body #kMainMenu.sticky #kMenuUL li a#bookinglink,
body #kMainMenu #kMenuUL li a#noteslink,
body #kMainMenu.sticky #kMenuUL li a#noteslink {
  display: none;
}
body #kMainMenu #kMenuUL li .itemCounter,
body #kMainMenu.sticky #kMenuUL li .itemCounter {
  display: block;
  right: 1.2em;
  top: 0.5em;
}
body #kMainSectionBox {
  background: transparent;
  border-radius: 0;
  padding-bottom: 0;
}
body #kMainTableCell {
  background: transparent;
  border-radius: 0;
  padding: 0;
  display: block;
}
body #kMainTableContainer {
  padding: 0px;
  background-color: #303030;
}
body #kMenuTable,
body #kMainMenu.sticky #kMenuTable {
  width: 75px;
}
body #kMenuTable a span,
body #kMainMenu.sticky #kMenuTable a span {
  display: block;
  margin-top: 3px;
}
body #kToolBar {
  background: transparent;
  border-radius: 0;
}
body #kToolBar #kPageTitle {
  margin-right: 15px;
}
body #kToolBar #kToolBox {
  margin-top: 2px;
  position: fixed;
  top: 40%;
  width: 42px;
  background-color: #007ac0;
  border-top-left-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
  z-index: 10;
  padding-left: 5px;
}
body #kToolBar #kToolBox a,
body #kToolBar #kToolBox a:visited,
body #kToolBar #kToolBox a:hover {
  padding: 0.6em;
  font-family: FontAwesome;
  text-decoration: none;
  font-size: 1.25em;
  margin: 0;
  background: transparent;
  border-radius: 0;
  transition: all .3s;
  color: white;
  text-align: center;
}
body #kToolBar #kToolBox a span.itemCounter,
body #kToolBar #kToolBox a:visited span.itemCounter,
body #kToolBar #kToolBox a:hover span.itemCounter {
  background-color: #e74c3c;
  border-color: #e74c3c;
  font-size: 0.7em;
  font-family: arial;
  right: 15px;
  top: 8px;
  visibility: visible;
}
body #kToolBar #kToolBox a:first-child,
body #kToolBar #kToolBox a:visited:first-child,
body #kToolBar #kToolBox a:hover:first-child {
  padding-top: 15px;
}
body #kToolBar #kToolBox a:last-child,
body #kToolBar #kToolBox a:visited:last-child,
body #kToolBar #kToolBox a:hover:last-child {
  padding-bottom: 15px;
}
body #kToolBar #kToolBox a:hover {
  color: #303030;
  transition: all .3s;
}
body #kMainSearchBar {
  display: none;
}
body #kButtonsBar {
  color: white;
}
body #kButtonsBar .btnDlg {
  color: black;
  background-color: transparent;
  border: none;
}
body #kButtonsBar .btnDlg li {
  background-color: white;
  border: 1px solid #f8f8f8;
  border-radius: 0.3em;
}
body #kButtonsBar .btnDlg li.hover {
  border: 1px solid #007ac0;
}
@media screen and (max-width: 1449px) {
  body #kButtonsBar,
  body #kToolBar {
    box-sizing: border-box;
    display: inline-block;
  }
  body #kToolBar {
    padding: 15px;
    padding-top: 12px;
    width: 100%;
    float: left;
    left: 0;
  }
  body #kToolBox {
    right: 0;
  }
  body #kButtonsBar {
    width: 100%;
  }
  body #ButtonMenuBox {
    padding: 0 20px;
  }
  body .search-box {
    top: 50px;
    z-index: 300;
  }
  body #topBar #kClientName a {
    padding-left: 10px;
  }
}
body #notesArea textarea {
  background: white;
  border: none;
  color: #007ac0;
  font-size: 16px;
  margin: 5px 0 10px;
  padding: 5px;
}
body #projectDetails {
  padding: 2em;
}
body #projectDetails select {
  background-color: #f8f8f8;
  border: none ;
  color: #303030 ;
  font-size: 16px ;
  margin: 5px 0 10px ;
  padding: 0 10px ;
  width: 100%;
}
body #projectDetails textarea {
  background: #f8f8f8;
  border: none ;
  color: #303030 ;
  font-size: 16px ;
  line-height: 1.25em;
  margin: 5px 0 10px ;
  padding: 10px ;
}
body #projectarea select {
  color: #007ac0;
  font-size: 16px;
}
body #rateDiv {
  margin-right: 2%;
}
body #tabs {
  padding: 2em;
}
body #tabs #projetUsers {
  border: none;
}
body #tabs .ui-tabs-nav {
  background: transparent;
  border: none;
}
body #tabs .ui-tabs-nav li,
body #tabs .ui-tabs-nav li a {
  background: transparent;
  border: none;
}
body #tabs .ui-tabs-nav a span:first-child {
  font-size: 1.2em;
}
body #tabs .ui-tabs-nav li.ui-state-default {
  background-color: #f8f8f8;
  margin: 1px 3px 0 0;
  padding: 3px 5px 2px 5px;
  border-bottom: 1px solid #f8f8f8;
}
body #tabs .ui-tabs-nav li.ui-state-default.ui-state-hover {
  background-color: #f8f8f8;
  margin: 0 3px 0 0;
  padding: 3px 5px 3px 5px;
}
body #tabs .ui-tabs-nav li.ui-tabs-selected {
  background-color: white;
  margin: 0 3px 0 0;
  padding: 3px 5px 3px 5px;
  border-top: 1px solid rgba(48, 48, 48, 0.2);
  border-left: 1px solid rgba(48, 48, 48, 0.2);
  border-right: 1px solid rgba(48, 48, 48, 0.2);
}
body #tabs .ui-tabs-panel {
  background-color: white;
  border: none;
}
body #tabs .ui-tabs-panel .blueBox {
  background-color: transparent;
  border: none;
  border-top: 1px solid rgba(48, 48, 48, 0.2);
}
body #tabs .ui-tabs-panel .blueBox .FicheChamps {
  background: transparent;
  border: none;
  padding: 0.3em!important;
}
body #tabs .ui-tabs-panel .blueBox .FicheChamps input,
body #tabs .ui-tabs-panel .blueBox .FicheChamps textarea,
body #tabs .ui-tabs-panel .blueBox .FicheChamps select {
  border-radius: 0.3em;
  background: #f8f8f8;
  border: 1px solid rgba(48, 48, 48, 0.2);
  color: #303030;
  font-size: 16px ;
  line-height: 1.25em ;
  margin: 5px 0 10px ;
  padding: 10px ;
  height: auto;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd {
  padding: 0;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd .stepsDetails {
  background-color: transparent;
  border: 0;
  padding: 0;
  margin-left: 2em;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd .stepsDetails #steptabs {
  background-color: transparent;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd .stepsDetails .bluebox {
  background-color: transparent;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd .stepsDetails #ContentPlaceHolder0_ContentPlaceHolder1_workedtime {
  font-size: 16px;
  line-height: 1.25em;
  margin: 5px 0 10px;
  padding: 10px ;
  border-radius: 0.3em;
  background: #f8f8f8 ;
  border: 1px solid white;
  display: inline-block;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd .stepsDetails #ContentPlaceHolder0_ContentPlaceHolder1_div_stepEditWrapper > table > tbody > tr > td {
  border: none;
  padding: 10px 10px;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd .stepsDetails #ContentPlaceHolder0_ContentPlaceHolder1_DropDownListAdmin {
  margin-top: 5px;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd .stepsDetails textarea,
body #tabs .ui-tabs-panel .blueBox table td#steptd .stepsDetails input[type="text"] {
  border-radius: 0.3em;
  background: #f8f8f8;
  border: 1px solid rgba(48, 48, 48, 0.2);
  margin: 5px 0 10px;
  padding: 10px;
  height: auto;
}
body #tabs .ui-tabs-panel .blueBox table td#steptd div.stepEditWrapper {
  border: none;
}
body #tabs .ui-tabs-panel .blueBox table td:nth-child(2) {
  padding: 0.2em;
}
body #tabs .ui-tabs-panel .blueBox table td:nth-child(3) {
  padding: 0.2em;
  border: none;
}
body #tabs.ui-widget-content {
  background: transparent;
}
body #tabs.ui-widget-content.ui-tabs {
  background: transparent;
}
body #tabs-1 td[width="33%"] {
  border: none;
  padding: 10px 10px;
}
body #tddebutLabel,
body #tdfinLabel,
body #tdfin {
  padding: 0 8px 0 0;
  vertical-align: middle;
}
body .FicheChamps input.headerLabel {
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 22px;
  margin-left: 1em;
}
body .FicheChamps input.headerLabel:hover,
body .FicheChamps .FicheChamps input.headerLabel:focus {
  background-color: white;
}
body #divpopupcalendarpaiement {
  top: 100px;
  margin-left: 0px;
}
body .RadCalendar {
  width: 320px!important;
}
body .RadCalendar .rcRow td a {
  border: none;
  padding: 1px;
  text-align: center;
  line-height: 2.5em;
  font-weight: bold;
  color: white;
}
body .RadCalendar .rcRow td {
  border: none;
}
body .RadCalendar .rcRow td.rcWeekend a {
  color: #f8f8f8;
  font-weight: light;
}
body .RadCalendar .rcRow td.rcHover a {
  background-color: #007ac0;
}
body .RadCalendar .rcMain {
  border: 0;
}
body .RadCalendar .rcMain .rcMainTable {
  background-color: #303030;
}
body .RadCalendar table {
  border-collapse: separate;
  border-spacing: 0.5em;
  border-bottom-right-radius: 0.3em;
  border-bottom-left-radius: 0.3em;
}
body .RadCalendar thead td.rcTitlebar {
  background-color: #007ac0;
  color: white;
  border: none;
  border-top-right-radius: 0.3em;
  border-top-left-radius: 0.3em;
}
body .RadCalendar thead td.rcTitlebar td.rcTitle {
  text-align: center;
  font-size: 1.25em;
  font-weight: bold;
  text-transform: uppercase;
}
body .RadCalendar thead td.rcTitlebar .rcPrev,
body .RadCalendar thead td.rcTitlebar .rcNext,
body .RadCalendar thead td.rcTitlebar .rcFastPrev,
body .RadCalendar thead td.rcTitlebar .rcFastNext {
  background: none;
  text-indent: initial;
  color: #007ac0;
  border: 0;
  margin: 0;
  height: auto;
  width: auto;
  font-size: 0.9em;
}
body .RadCalendar thead td.rcTitlebar .rcPrev:after,
body .RadCalendar thead td.rcTitlebar .rcNext:after,
body .RadCalendar thead td.rcTitlebar .rcFastPrev:after,
body .RadCalendar thead td.rcTitlebar .rcFastNext:after {
  height: 22px;
  width: 16px;
  color: white;
  display: block;
  margin-top: -20px;
  letter-spacing: -0.3em;
}
body .RadCalendar thead td.rcTitlebar .rcPrev:after {
  content: "◀";
}
body .RadCalendar thead td.rcTitlebar .rcFastPrev:after {
  content: "◀◀";
}
body .RadCalendar thead td.rcTitlebar .rcNext:after {
  content: "▶";
}
body .RadCalendar thead td.rcTitlebar .rcFastNext:after {
  content: "▶▶";
}
body .RadCalendar .rcWeek th {
  border: none;
  color: #BDBDBD;
}
body .breadCrumbItem {
  top: 12px;
  line-height: 1.1em;
}
body .changerProjet,
body .changerFournisseur,
body .changerTaxes,
body #descriptionedit,
body .editDescription,
body textarea#remarques {
  padding: 5px;
  text-align: left;
  border-radius: 0.3em;
  border: 1px solid transparent;
  font-family: Arial;
  line-height: 1.25em;
  width: 100%;
}
body .changerProjet:focus,
body .changerFournisseur:focus,
body .changerTaxes:focus,
body #descriptionedit:focus,
body .editDescription:focus,
body textarea#remarques:focus,
body .changerProjet:hover,
body .changerFournisseur:hover,
body .changerTaxes:hover,
body #descriptionedit:hover,
body .editDescription:hover,
body textarea#remarques:hover {
  background: #f8f8f8;
  color: #007ac0;
  transition: border-color 0.3s;
}
body .changerProjet:focus,
body .changerFournisseur:focus,
body .changerTaxes:focus,
body #descriptionedit:focus,
body .editDescription:focus,
body textarea#remarques:focus {
  outline: none;
  border: 1px solid #007ac0;
}
body .edit {
  border-radius: 0.3em;
}
body .edit:focus,
body .edit:hover {
  background: #f8f8f8;
  color: #007ac0;
  transition: border-color 0.3s;
}
body .edit:focus {
  outline: none;
  border: 1px solid #007ac0;
}
body textarea#remarques {
  min-height: 120px;
}
body textarea[disabled]#remarques {
  background-color: transparent;
}
body .client {
  font-size: 14px;
}
body .columnTitle i {
  background: transparent;
}
body .currentdate,
body #dateArea a {
  color: #777;
}
body .datecontainerweekday,
body .datecontainertoday,
body .datecontainerweekendday {
  border-radius: 0.3em;
  border: 1px solid white;
  min-height: 600px;
  height: 85vh;
  transition: all 0.2s ease-in-out;
}
body .datecontainerweekday:hover,
body .datecontainertoday:hover,
body .datecontainerweekendday:hover,
body .datecontainerweekday.datecontainertoday,
body .datecontainertoday.datecontainertoday,
body .datecontainerweekendday.datecontainertoday {
  background-color: rgba(0, 122, 192, 0.05);
  transition: all 0.3s ease-in-out;
  cursor: cell;
}
body .datecontainerweekday .task,
body .datecontainertoday .task,
body .datecontainerweekendday .task {
  border-radius: 0.3em;
  margin: 1px 2px;
  background-color: #303030;
  border: none;
  color: white;
}
body .datecontainerweekday .task .description,
body .datecontainertoday .task .description,
body .datecontainerweekendday .task .description,
body .datecontainerweekday .task .heure,
body .datecontainertoday .task .heure,
body .datecontainerweekendday .task .heure {
  color: rgba(255, 255, 255, 0.8);
}
body .datecontainerweekday .task .projet,
body .datecontainertoday .task .projet,
body .datecontainerweekendday .task .projet {
  color: rgba(255, 255, 255, 0.6);
}
body .datecontainerweekday .taskhover,
body .datecontainertoday .taskhover,
body .datecontainerweekendday .taskhover {
  cursor: pointer;
}
body .datecontainerweekday {
  background-color: #f8f8f8;
}
body .datecontainerweekendday {
  background-color: rgba(248, 248, 248, 0.5);
}
body .datecontainertoday {
  background-color: #f8f8f8;
  border-color: #007ac0;
  width: 320px;
}
body .datecontainertoday .weekDay {
  color: #007ac0;
}
body .datecontainertoday .task {
  margin: 5px;
  background-color: #007ac0;
}
body .datecontainerweekendday .weekDay {
  color: #C8C8C8;
}
body .description {
  color: #777;
  float: none;
  font-size: 13px;
  min-height: 7px;
}
body .dvday {
  margin-top: 5px;
}
body .editButton:before {
  color: #007ac0;
}
body .forumDate {
  color: #007ac0;
}
body .forumMsgFrom {
  padding-right: 10px;
  text-align: right;
  color: white;
}
body .forumMsgL {
  border-left: 1px solid #999;
  border-top: none;
  margin-top: 1em;
}
body .forumMsgT,
body .forumMsgL,
body .forumMsgFrom {
  background: transparent;
  border-top: none;
}
body .forumText {
  font-weight: bold;
  color: #fff;
}
body .forumText div {
  color: #999;
  font-size: 1.2em;
  font-style: italic;
  font-weight: normal;
  padding-top: 10px;
}
body .forumText,
body .forumMsgInfo {
  background: transparent;
  border: none;
}
body #gridviewContainer {
  border: none;
  box-shadow: none;
  padding: 2em;
  margin: 0;
}
body .gridview {
  border-collapse: separate!important;
  border-spacing: 0 2px!important;
}
body .gridview .item,
body .gridview .editProduct {
  border-radius: 0.3em;
  padding-left: 0.5em;
  background-color: transparent;
  border-color: transparent;
}
body .gridview .itemTotal {
  font-weight: bold;
}
body .gridview .moveit {
  padding-left: 1em;
}
body .gridview .moveit .item {
  overflow: hidden;
}
body .gridview .subheader a.link {
  font-size: 1.5em;
  text-decoration: none;
}
body .gridview td,
body .gridview th {
  border: none;
  padding: 1em 0.5em;
  transition: all 0.3s;
}
body .gridview tr.even,
body .gridview tr.odd {
  background-color: #f8f8f8;
  border: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  border-radius: 0.3em;
}
body .gridview tr.on,
body .gridview tr.hover {
  background-color: #f8f8f8;
  border: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #007ac0;
  transition: all 0.2s;
}
body .gridview tr.on .item,
body .gridview tr.hover .item,
body .gridview tr.on .editProduct,
body .gridview tr.hover .editProduct {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
  padding-left: 0.5em;
  background-color: transparent;
}
body .gridview tr.on a,
body .gridview tr.hover a {
  color: #007ac0;
}
body .gridview tr.on td,
body .gridview tr.hover td {
  background-color: rgba(255, 255, 255, 0.75);
  color: #007ac0;
  transition: background-color 0.3s;
}
body #tabledevis {
  box-shadow: 0;
  margin: 0 auto;
  border: none;
  border-radius: 0;
  table-layout: fixed;
  width: 100%;
  white-space: nowrap;
  padding: 4em;
}
body #tabledevis #titre {
  color: #808080;
}
body #tabledevis .totalHeader {
  margin-right: 0;
  color: #BDBDBD;
}
body #tabledevis .totalLabel {
  font-size: 1.4em;
  margin-right: 0;
  color: #303030;
}
body #tabledevis #ContentPlaceHolder0_ContentPlaceHolder1_soustotal {
  color: #007ac0;
}
body #tabledevis #ContentPlaceHolder0_ContentPlaceHolder1_soustotal .totalLabel {
  color: #007ac0;
}
body #tabledevis tr[class^='tdtaxe'] .totalLabel,
body #tabledevis tr[class*=' tdtaxe'] .totalLabel,
body #tabledevis .tdtaxe156267 .totalLabel,
body #tabledevis .tdtaxe256267 .totalLabel,
body #tabledevis .tdtaxe157266 .totalLabel,
body #tabledevis .tdtaxe257266 .totalLabel,
body #tabledevis .tdtaxe1115030 .totalLabel,
body #tabledevis .tdtaxe2115030 .totalLabel,
body #tabledevis .tdtaxe156255 .totalLabel,
body #tabledevis .tdtaxe256255 .totalLabel,
body #tabledevis .tdtaxe1116006 .totalLabel,
body #tabledevis .tdtaxe2116006 .totalLabel,
body #tabledevis .tdtaxe1 .totalLabel,
body #tabledevis .tdtaxe2 .totalLabel {
  font-size: 1em;
  color: #BDBDBD;
}
body #tabledevis #itemsTable {
  table-layout: fixed;
}
body #tabledevis #itemsTable td {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
body #tabledevis #itemsTable td:nth-child(2) {
  white-space: normal;
}
body #tabledevis #itemsTable thead th {
  font-size: 9px;
  color: grey;
}
body #tabledevis #itemsTable thead th div,
body #tabledevis #itemsTable thead th.tdtaxe1,
body #tabledevis #itemsTable thead th.tdtaxe2,
body #tabledevis #itemsTable thead th .headerQty input {
  font-size: 9px;
  color: grey;
}
body #tabledevis #itemsTable thead th:nth-child(1) {
  width: 15%;
}
body #tabledevis #itemsTable thead th:nth-child(2) {
  width: 25%;
}
body #tabledevis #itemsTable thead th:nth-child(3) {
  width: 5%;
}
body #tabledevis #itemsTable thead th:nth-child(4) {
  width: 5%;
}
body #tabledevis #itemsTable thead th:nth-child(5) {
  width: 5%;
}
body #tabledevis #itemsTable thead th:nth-child(6) {
  width: 5%;
}
body #tabledevis #itemsTable thead th:nth-child(7) {
  width: 5%;
}
body #tabledevis #itemsTable thead th:nth-child(8) {
  width: 5%;
}
body #tabledevis #itemsTable thead th:last-child {
  width: 2%;
}
body #tabledevis #itemsTable thead th[align="right"] {
  text-align: right;
}
body #tabledevis #itemsTable thead th[align="left"] {
  text-align: left;
}
body #tabledevis #itemsTable .hiddencheckbox1,
body #tabledevis #itemsTable .hiddencheckbox2 {
  display: none;
}
body #tabledevis #itemsTable tr .tdtaxe1 i.fa,
body #tabledevis #itemsTable tr .tdtaxe2 i.fa {
  float: right;
  line-height: 1.5em;
  font-size: 1.5em;
}
body #tabledevis #itemsTable tr .tax1,
body #tabledevis #itemsTable tr .tax2 {
  line-height: 2em;
}
body #tabledevis #itemsTable tr.hover .tax1,
body #tabledevis #itemsTable tr.hover .tax2 {
  display: none;
}
body #tabledevis #itemsTable .itemProduct,
body #tabledevis #itemsTable .editProduct {
  width: 100%;
}
body #tabledevis #itemsTable .deleterow {
  font-size: 20px;
}
body #tabledevis #table1 {
  table-layout: fixed;
}
body #tabledevis #table1 #usernameDiv {
  padding-top: 5px;
}
body #tabledevis #table1 > tbody > tr > td:first-child {
  width: 25%;
  vertical-align: top;
  padding-right: 10px;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(2) {
  width: 25%;
  vertical-align: top;
  overflow: hidden;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(2) > table tr {
  border-bottom: 1px solid #f8f8f8;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(2) > table tr:first-child {
  border-top: 1px solid #f8f8f8;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(2) > table tr > td {
  line-height: 2.5em;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(2) > table tr > td:first-child {
  font-weight: normal;
  font-size: 0.7em;
  color: grey;
  vertical-align: middle!important;
  width: 20% !important;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(2) > table tr > td:last-child {
  font-weight: bold;
  font-size: 1.1em;
  white-space: normal;
  width: 70%!important;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(2) > table #nomfournisseur,
body #tabledevis #table1 > tbody > tr > td:nth-child(2) > table #nomtaxes {
  height: auto ;
  line-height: 1.25em ;
  width: 100% ;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(2) .nobutton {
  margin: 0;
  padding: 0;
  display: block;
}
body #tabledevis #table1 > tbody > tr > td:nth-child(3) {
  width: 50%;
  padding-left: 10%;
}
body #tabledevis #table1 #otherInfos > tbody > tr {
  border-bottom: 1px solid #f8f8f8;
}
body #tabledevis #table1 #otherInfos > tbody > tr:first-child {
  border-top: 1px solid #f8f8f8;
}
body #tabledevis #table1 #otherInfos > tbody > tr > td {
  line-height: 2.5em;
  text-align: left;
  vertical-align: middle;
}
body #tabledevis #table1 #otherInfos > tbody > tr > td:first-child {
  font-weight: normal;
  font-size: 0.7em;
  color: grey;
  vertical-align: middle!important;
  width: 20% !important;
}
body #tabledevis #table1 #otherInfos > tbody > tr > td:first-child strong {
  font-weight: normal;
}
body #tabledevis #table1 #otherInfos > tbody > tr > td:last-child {
  font-weight: bold;
  font-size: 1.1em;
  white-space: normal;
  width: 80%!important;
}
body #tabledevis #table1 #otherInfos a.date-button,
body #tabledevis #table1 #otherInfos a.date-button-due,
body #tabledevis #table1 #otherInfos #numerodevis,
body #tabledevis #table1 #otherInfos #ContentPlaceHolder0_ContentPlaceHolder1_noDevisHyperLink {
  padding: 5px;
  border-radius: 0.3em;
}
body #tabledevis #table1 #otherInfos a.date-button:hover,
body #tabledevis #table1 #otherInfos a.date-button-due:hover,
body #tabledevis #table1 #otherInfos #numerodevis:hover,
body #tabledevis #table1 #otherInfos #ContentPlaceHolder0_ContentPlaceHolder1_noDevisHyperLink:hover {
  background: #f8f8f8;
  transition: all 0.3s;
}
body #tabledevis .gridview {
  border-collapse: collapse!important;
}
body #tabledevis .gridview tr.even,
body #tabledevis .gridview tr.odd {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #f8f8f8;
  border-top: 1px solid transparent;
}
body #tabledevis .gridview tr.on,
body #tabledevis .gridview tr.hover {
  background-color: #f8f8f8;
  border: none;
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  color: #007ac0;
  transition: all 0.2s;
  border-radius: 0.3em;
}
body #tabledevis .gridview tr.on .item,
body #tabledevis .gridview tr.hover .item,
body #tabledevis .gridview tr.on .editProduct,
body #tabledevis .gridview tr.hover .editProduct {
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.3em;
  padding-left: 0.5em;
  background-color: transparent;
}
body #tabledevis .gridview tr.on a,
body #tabledevis .gridview tr.hover a {
  color: #007ac0;
}
body #tabledevis .gridview tr.on td,
body #tabledevis .gridview tr.hover td {
  background-color: transparent;
  color: #007ac0;
  transition: background-color 0.3s;
}
body .greyTable .redlink,
body .gridview .redlink,
body .greyTable .redlink:visited,
body .gridview .redlink:visited {
  color: #e74c3c;
  font-weight: bold;
  text-decoration: none;
}
body .greyTable .tooltip a.link,
body .gridview .tooltip a.link,
body .greyTable .tooltip a.link:hover,
body .gridview .tooltip a.link:hover {
  border: none;
}
body .greyTable a.link,
body .gridview a.link,
body .greyTable a.link:visited,
body .gridview a.link:visited {
  color: #007ac0;
  padding: 2px 4px;
  text-decoration: none;
  transition: all 0.3s;
}
body .greyTable a.link:hover,
body .gridview a.link:hover {
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 0.3em;
  color: #007ac0;
  padding: 2px 4px;
  text-decoration: none;
  transition: all 0.3s;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview {
  border-collapse: collapse!important;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview thead tr th {
  text-align: left;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview thead tr th:first-child {
  width: 0.1%;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview tr.even,
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview tr.odd {
  background-color: transparent;
  border: none;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview tr.even td[total="0"],
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview tr.odd td[total="0"] {
  color: rgba(48, 48, 48, 0.2);
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview tr.even td:nth-child(3).redlink,
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview tr.odd td:nth-child(3).redlink {
  color: #BDBDBD;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview .tooltip {
  background-color: #fff;
  border: none;
  box-shadow: none;
  color: #303030;
  left: 0;
  line-height: 1.5em;
  padding: 0.75em 0.5em ;
  position: absolute;
  text-align: left;
  top: 0;
  z-index: 2;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview .tooltip a.link {
  border: none;
  padding-bottom: 0;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview .tooltip a i.fa {
  float: right;
}
body .button,
body .actionbtn,
body .actionbtnhover {
  border: none;
  background: none;
}
body .actionbtnhover a {
  background-color: white;
  border: 1px solid #007ac0;
  padding: 8px 16px;
  transition: all 0.3s;
}
body .button a,
body .actionbtn a,
body #ContentPlaceHolder0_ContentPlaceHolder1_nextButton,
body #ContentPlaceHolder0_ContentPlaceHolder1_previousButton {
  text-align: center;
  padding: 8px 16px;
  border-radius: 0.3em;
  letter-spacing: 0.3px;
  border: 1px solid rgba(48, 48, 48, 0.3);
  transition: all 0.3s;
  line-height: 16px;
  background-color: #f8f8f8;
}
body .button a:hover,
body .actionbtn a:hover,
body #ContentPlaceHolder0_ContentPlaceHolder1_nextButton:hover,
body #ContentPlaceHolder0_ContentPlaceHolder1_previousButton:hover {
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #007ac0;
  transition: all 0.3s;
}
body .button.button-payments-style {
  background: transparent;
}
body .button.button-payments-style a {
  background-color: #f2c820;
  color: black;
  border: 1px solid #f2c820;
}
body .button a.cash_register-button {
  background-color: #f2c820;
  color: black;
  border: 1px solid #f2c820;
}
body .statutbtn,
body .statutbtnhover {
  border: 1px solid transparent;
  background-color: transparent;
}
body .statutbtn a,
body .statutbtnhover a {
  color: white;
}
body #spanEmail.button a {
  color: white;
  border-color: black;
  background: black;
}
body #savespan.button a {
  color: white;
  border-color: #007ac0;
  background: #007ac0;
}
body #savespan.button a:hover {
  background-color: #000;
  color: white;
  border-color: #000;
}
body .button a.add-button {
  color: white;
  border-color: #007ac0;
  background: #007ac0;
}
body .button a.add-button:hover {
  background-color: black!important;
  color: white;
  border-color: black;
}
body .button.ajouterbtn .statutBtnIconDown {
  border: 1px solid rgba(48, 48, 48, 0.3);
  background: #f0f0f0;
  color: #303030;
  border-radius: 0.3em;
}
body .button.ajouterbtn .statutBtnIconDown a {
  border: none;
  background: transparent;
  color: #303030;
}
body .button.ajouterbtn .statutBtnIconDown a:hover {
  border: none;
  background: transparent;
  color: #303030;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_nextButton,
body #ContentPlaceHolder0_ContentPlaceHolder1_previousButton {
  background-color: #007ac0;
  color: white;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_nextButton:hover,
body #ContentPlaceHolder0_ContentPlaceHolder1_previousButton:hover {
  background-color: #303030;
  color: white;
  border-color: #303030;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_nextButton:after {
  content: " →";
}
body #ContentPlaceHolder0_ContentPlaceHolder1_previousButton:before {
  content: "← ";
}
body .gridviewNavigatorItem:last-child {
  margin-right: 40px;
}
body .heure {
  color: #007ac0;
}
body .nbhours {
  color: #007ac0;
  font-size: 20px;
  margin: 0 0 10px;
  padding-top: 6px;
  text-align: center;
  width: 100%;
}
body .projet {
  color: #999;
  font-size: 10px;
  font-style: italic;
  text-align: left;
}
body .toggleListBtn {
  background-color: transparent;
  border: none;
  color: #303030;
}
body .projetListeBox .projetListeBoxInside {
  border: none;
  width: 90%;
}
body .projetListeBox .projetListeBoxInside .ListeBoxCheckbox i.fa {
  font-size: 1.3em;
}
body .projetListeBox .unSelectedProjectItem {
  font-weight: normal;
  background-color: #f8f8f8;
  margin-bottom: 5px;
  padding: 5px;
  border-radius: 0.3em;
  border: 1px solid #f8f8f8;
}
body .projetListeBox .selectedProjectItem {
  color: #007ac0;
  border: 1px solid #007ac0;
  transition: all 0.3s;
}
body .projetListeBox .selectedProjectItem .disabled {
  color: #BDBDBD;
}
body .stepsList {
  margin: 0.5em 1em 0.3em 0;
}
body .stepsList tr:not(.header) td {
  background-color: #f8f8f8;
  border: 1px solid white;
  border-radius: 0.3em;
  padding: 1em;
}
body .stepsList tr:not(.header) td .stepNameLink {
  padding: 0;
}
body .stepsList tr:not(.header).selected td {
  background-color: #f8f8f8;
  border-color: #007ac0;
  color: #007ac0;
}
body .stepsList tr:not(.header).selected td.hover .stepNameLink,
body .stepsList tr:not(.header).selected td .stepNameLink {
  border: none;
  padding: 0;
  background-color: transparent;
  float: none;
  margin: 0;
  color: #007ac0;
}
body #gridviewNavigator {
  text-align: center;
}
body #newstepBtn {
  width: 100%;
  padding-right: 1em;
}
body .tallBox #mesprojetsBox.jspScrollable {
  height: 27em;
}
body .task {
  background-color: #E8E8E8;
  border: none;
  margin-bottom: 5px;
  overflow: hidden;
  padding: 5px;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_semaine {
  color: #303030;
  font-size: 20px;
  font-weight: 200;
  padding: 5px;
  padding-bottom: 30px;
  text-align: center;
}
body .thback {
  background: transparent;
}
body .checkbox1,
body .checkbox2 {
  font-size: 1.2em!important;
}
body .ui-dialog {
  transition: all 0.5s;
  width: 520px;
}
body .ui-dialog .ui-dialog-title {
  color: #999;
  float: left;
  margin: .1em 0 .2em;
  text-align: center;
  width: 100%;
}
body .ui-dialog .ui-dialog-titlebar {
  background: transparent;
}
body .ui-dialog .ui-dialog-titlebar-close {
  font-size: 1.8em;
  color: #303030;
  right: 0;
}
body .ui-dialog.ui-widget-content {
  background: #f8f8f8;
}
body .ui-dialog #divemail {
  font-family: Arial;
}
body .ui-dialog #divemail textarea {
  padding: 1em;
  background: transparent;
  border-color: #BDBDBD;
  border-radius: 0.3em;
  font-family: Arial;
  font-size: 1.2em;
  max-height: 350px;
}
body .ui-dialog #divemail textarea:focus {
  background-color: white;
  outline: none;
  border: 1px solid #007ac0;
}
body .ui-dialog #divemail select,
body .ui-dialog #divemail input {
  padding: 0.75em!important;
  height: auto;
  line-height: normal;
  border: 1px solid #BDBDBD;
  border-radius: 0.3em;
  font-family: Arial;
  font-weight: bold;
  font-size: 1.2em;
}
body .ui-dialog #divemail .modalButtonBox .button a {
  background-color: #007ac0;
  border-color: #007ac0;
  color: white;
}
body .ui-dialog[aria-labelledby="ui-dialog-title-ContentPlaceHolder0_ContentPlaceHolder1_TimeEntryEdit_Dialog"] {
  width: 400px;
  padding-right: 400px;
}
body .ui-dialog[aria-labelledby="ui-dialog-title-ContentPlaceHolder0_ContentPlaceHolder1_TimeEntryEdit_Dialog"] #notesArea {
  position: fixed;
  top: 200px;
  left: 50vw;
  width: 350px;
  height: 500px;
  padding: 1.8em;
}
body .ui-dialog[aria-labelledby="ui-dialog-title-ContentPlaceHolder0_ContentPlaceHolder1_TimeEntryEdit_Dialog"] #notesArea textarea {
  max-height: 100%;
  height: 300px;
  padding: 15px;
}
body .ui-widget-overlay {
  transition: all 0.5s;
}
body .weekDay div.nbhours {
  text-align: center;
}
body .weekDay,
body .weekDay:hover,
body .datecontainertoday .weekDay:hover {
  background: transparent;
  border: none;
  border-color: #999;
  color: #777;
  height: 50px;
  padding-bottom: 5px;
  padding-top: 10px;
  text-align: center;
  width: 100%;
}
body .weekDay:before {
  display: none;
}
body .weekDayJour {
  text-transform: none;
}
body .wrap {
  max-width: 120em;
  width: 100%;
}
body a.itemPrice,
body .hover a.itemPrice,
body input.editPrice {
  width: 100%;
}
body a.stepNameLink.complete {
  left: 14px;
}
body select.selectList {
  background-size: 12px;
  background-position: right 5px center;
  border-radius: 0.3em;
  padding: 0px 2em 0px 8px;
  box-sizing: border-box;
  border: 1px solid rgba(48, 48, 48, 0.2);
  background-color: #f8f8f8;
  height: auto;
}
body select.selectList:hover {
  border: 1px solid #007ac0;
  transition: all 0.3s;
}
body .RadComboBox.RadComboBox_MetroKiwili {
  border-radius: 0.3em;
  padding: 4px 3px 4px 8px;
  box-sizing: border-box;
  border: 1px solid rgba(48, 48, 48, 0.2);
  background-color: #f8f8f8;
  height: auto;
}
body .RadComboBox.RadComboBox_MetroKiwili .rcbReadOnly .rcbInputCell,
body .RadComboBox.RadComboBox_MetroKiwili .rcbReadOnly .rcbArrowCell {
  background-color: transparent;
  border: none;
}
body .RadComboBox.RadComboBox_MetroKiwili .rcbReadOnly .rcbInputCell a,
body .RadComboBox.RadComboBox_MetroKiwili .rcbReadOnly .rcbArrowCell a {
  background-position: 0px 6px;
  background-size: 42px;
  width: 16px;
  height: 20px;
}
body .RadComboBox.RadComboBox_MetroKiwili:hover {
  border: 1px solid #007ac0;
  transition: all 0.3s;
}
body tr.selected a.stepNameLink.complete {
  left: 0px;
}
body #ContentPlaceHolder0_toolbarPlaceHolder_Labelrecurringdepense,
body #ContentPlaceHolder0_toolbarPlaceHolder_Labeltotalenretard {
  font-size: 1.6em;
  padding: 0.2em 0em 0.4em;
}
body #ContentPlaceHolder0_toolbarPlaceHolder_Labeltotalenretard {
  color: #e74c3c;
}
body .divTable.fourColumns .divTableRow {
  margin-bottom: 4em;
}
body .divTable.fourColumns .divTableRow .columnTitle {
  margin-bottom: 0;
  border: none;
  width: 100%;
  padding-top: 6em;
}
body .divTable.fourColumns .divTableRow .columnTitle i {
  color: rgba(0, 0, 0, 0.15);
  font-size: 5em;
}
body .divTable.fourColumns .divTableRow .action {
  margin-top: 1.5em;
  text-align: center;
  display: inline;
}
body .divTable.fourColumns .divTableRow .action a {
  padding: .5em 1em;
  border-radius: 0.3em;
  border: 1px solid transparent;
  background-color: #007ac0;
  font-size: 1.2em;
  font-weight: bold;
  display: block;
  margin: .5em auto;
  color: white;
  max-width: 250px;
  line-height: 1.6em;
}
body .divTable.fourColumns .divTableRow .action a.file-button {
  background-color: black;
}
body .divTable.fourColumns .divTableRow .action a:hover {
  background-color: black;
  transition: all .2s;
}
body .divTable.fourColumns .divTableRow div.searchbox {
  padding: .5em 1em;
  border-radius: 0.3em;
  border: 1px solid #007ac0;
  background-color: transparent;
  margin: .5em auto;
  max-width: 280px;
}
body .divTable.fourColumns .divTableRow div.searchbox a {
  padding: .4em .8em;
}
body .divTable.fourColumns .divTableRow div.searchbox input {
  font-size: 1.2em;
  line-height: 1.6em;
  pointer-events: all;
}
body .divTable.fourColumns .divTableRow .divTableCell {
  display: inline-block;
}
@media screen and (max-width: 1449px) {
  body .divTable.fourColumns .divTableRow .divTableCell {
    width: 25%;
    padding: 0;
  }
}
body .divTable.fourColumns .divTableCell {
  text-align: center;
}
body .divTable.fourColumns .divTableCell .greyBox {
  background: white;
  padding: 1em;
}
body .divTable.fourColumns .divTableCell .greyBox.smallBox {
  width: 100%;
}
body .divTable.fourColumns .divTableCell .greyBox .blueLabel {
  font-size: 1.4em;
  line-height: 1.35em;
}
body .divTable.fourColumns .tallBox .StatsBoxTitle,
body .divTable.fourColumns .tallBox .StatsBoxTitle {
  margin-top: 0;
}
body .divTable.fourColumns #mesprojetsBox,
body .divTable.fourColumns #mestodosBox {
  text-align: left;
  margin: 0;
}
body .heuresemaine {
  font-size: 1.1em;
  font-style: italic;
  color: #999;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_emptyTodoBox {
  font-size: 0.8em;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_emptyTodoBox:before {
  content: none;
}
body .changerClient,
body #infofournisseur {
  padding: 5px;
  border: none;
}
body .changerClient:hover,
body #infofournisseur:hover {
  background: #f8f8f8;
}
body .stepHours {
  font-size: 1.6em;
  background: transparent;
  color: #007ac0;
  font-weight: bold;
  border: none;
}
body .stepHours.negative {
  color: #e74c3c;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_FieldBalanceHours {
  margin-right: 1em;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_nomTextBox {
  background: none;
  border: none;
  font-size: 22px;
  font-weight: bold;
  width: 50%;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_nomTextBox:hover {
  background: white;
  transition: background .3s;
  border: radius:2px;
}
body #ContentPlaceHolder0_ContentPlaceHolder1_logoImage {
  border: none;
}
body #datesRapport {
  font-style: 1.5em;
}
body .gridviewFooter {
  background: rgba(155, 197, 61, 0.5);
  margin: 0.75em;
  border: none;
  padding: 1em;
}
@media screen and (max-width: 1200px) {
  #optionsContainer {
    background-color: #f8f8f8;
    border-radius: 0.3em;
    box-sizing: border-box;
  }
  #optionsContainer .button {
    max-width: 30px;
    max-height: 30px;
    box-sizing: border-box;
    vertical-align: middle;
  }
  #optionsContainer .convertbtnhover a span,
  #optionsContainer .convertbtn a span,
  #optionsContainer .button a {
    width: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-indent: 20px;
    padding: 6px 10px!important;
    border: none!important;
    background-color: transparent;
  }
  #optionsContainer .convertbtnhover a span:before,
  #optionsContainer .convertbtn a span:before,
  #optionsContainer .button a:before {
    text-indent: 0;
    float: left;
  }
  #optionsContainer .convertbtnhover,
  #optionsContainer .convertbtn {
    border: none;
    background-color: transparent;
    vertical-align: middle;
  }
  #optionsContainer .convertbtnhover a,
  #optionsContainer .convertbtn a {
    padding: 0;
  }
  #optionsContainer .convertbtnhover span:before,
  #optionsContainer .convertbtn span:before {
    padding-left: 0;
  }
}
/* Tests icones */
body #kToolBar #kToolBox a#ContentPlaceHolder0_ctl00_VideoHyperLink:before,
body #kToolBar #kToolBox a#ImgSearch:before,
body #kToolBar #kToolBox a#linkFiles:before,
body #kToolBar #kToolBox a#pdfprinterLink:before,
body #kToolBar #kToolBox a#ImgHistory:before,
body #kToolBar #kToolBox a#ContentPlaceHolder0_SecureButton:before,
body #kToolBar #kToolBox a#printerLink:before,
.editdiv a:before,
.gridview a[title="Partiellement payé"]:before,
.gridview a[title="Émise"]:before,
.gridview a[title="Payé"]:before,
.gridview a[title="Brouillon"]:before,
.gridview a[title="À payer"]:before,
.gridview a[title="Envoyé"]:before,
.gridview a[title="Annulé"]:before,
.gridview a[title="Facturé"]:before,
.gridview a[title="Lu"]:before,
.gridview a[title="Accepté"]:before,
.fa-arrow-right:before,
.fa-arrow-left:before,
#contactslink:before,
#clientslink:before,
#accueillink:before,
#projetslink:before,
#todolink:before,
#tempslink:before,
#repportslink:before,
#devislink:before,
#factureslink:before,
#depenseslink:before,
#budgetlink:before {
  font-family: Linearicons-Free;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
#contactslink:before {
  content: "\e82b";
}
#clientslink:before {
  content: "\e82d";
}
#accueillink:before {
  content: "\e800";
}
#projetslink:before {
  content: "\e88e";
}
#todolink:before {
  content: "\e87f";
}
#devislink:before {
  content: "\e84b";
}
#tempslink:before {
  content: "\e85f";
}
#repportslink:before {
  content: "\e843";
}
#budgetlink:before {
  content: "\e845";
}
#factureslink:before {
  content: "\e867";
}
#depenseslink:before {
  content: "\e868";
}
.fa-arrow-right:before {
  content: "\e876";
}
.fa-arrow-left:before {
  content: "\e875";
}
.gridview a[title="Partiellement payé"],
.gridview a[title="Émise"],
.gridview a[title="Payé"],
.gridview a[title="Brouillon"],
.gridview a[title="À payer"],
.gridview a[title="Envoyé"],
.gridview a[title="Annulé"],
.gridview a[title="Facturé"],
.gridview a[title="Lu"],
.gridview a[title="Accepté"] {
  font-size: 1.1em;
}
.gridview a[title="Partiellement payé"] img,
.gridview a[title="Émise"] img,
.gridview a[title="Payé"] img,
.gridview a[title="Brouillon"] img,
.gridview a[title="À payer"] img,
.gridview a[title="Envoyé"] img,
.gridview a[title="Annulé"] img,
.gridview a[title="Facturé"] img,
.gridview a[title="Lu"] img,
.gridview a[title="Accepté"] img {
  display: none;
}
.gridview a[title="Partiellement payé"]:before,
.gridview a[title="Émise"]:before,
.gridview a[title="Payé"]:before,
.gridview a[title="Brouillon"]:before,
.gridview a[title="À payer"]:before,
.gridview a[title="Envoyé"]:before,
.gridview a[title="Annulé"]:before,
.gridview a[title="Facturé"]:before,
.gridview a[title="Lu"]:before,
.gridview a[title="Accepté"]:before {
  font-weight: bold;
}
.gridview a[title="Envoyé"] {
  color: #007ac0;
}
.gridview a[title="Envoyé"]:before {
  content: "\e818";
}
.gridview a[title="Lu"] {
  color: #8e44ad;
}
.gridview a[title="Lu"]:before {
  content: "\e81b";
}
.gridview a[title="Annulé"] {
  color: #e74c3c;
}
.gridview a[title="Annulé"]:before {
  content: "\e870";
}
.gridview a[title="Facturé"] {
  color: #303030;
}
.gridview a[title="Facturé"]:before {
  content: "\e81e";
}
.gridview a[title="Accepté"] {
  color: #40A014;
}
.gridview a[title="Accepté"]:before {
  content: "\e87f";
}
.gridview a[title="À payer"] {
  color: #007ac0;
}
.gridview a[title="À payer"]:before {
  content: "\e82e";
}
.gridview a[title="Brouillon"] {
  color: #303030;
}
.gridview a[title="Brouillon"]:before {
  content: "\e81d";
}
.gridview a[title="Payé"] {
  color: #40A014;
}
.gridview a[title="Payé"]:before {
  content: "\e87f";
}
.gridview a[title="Émise"] {
  color: #007ac0;
}
.gridview a[title="Émise"]:before {
  content: "\e84b";
}
.gridview a[title="Partiellement payé"] {
  color: #f2c820;
}
.gridview a[title="Partiellement payé"]:before {
  content: "\e842";
}
.editdiv a .editButton {
  display: none;
}
.editdiv a:before {
  content: "\e876";
  font-weight: bold;
}
body #kToolBar #kToolBox a#ContentPlaceHolder0_ctl00_VideoHyperLink,
body #kToolBar #kToolBox a#ContentPlaceHolder0_SecureButton,
body #kToolBar #kToolBox a#ImgSearch,
body #kToolBar #kToolBox a#linkFiles,
body #kToolBar #kToolBox a#pdfprinterLink,
body #kToolBar #kToolBox a#ImgHistory,
body #kToolBar #kToolBox a#printerLink {
  visibility: hidden;
}
body #kToolBar #kToolBox a#ContentPlaceHolder0_ctl00_VideoHyperLink:before,
body #kToolBar #kToolBox a#ContentPlaceHolder0_SecureButton:before,
body #kToolBar #kToolBox a#ImgSearch:before,
body #kToolBar #kToolBox a#linkFiles:before,
body #kToolBar #kToolBox a#pdfprinterLink:before,
body #kToolBar #kToolBox a#ImgHistory:before,
body #kToolBar #kToolBox a#printerLink:before {
  visibility: visible;
  font-size: 1.5em;
}
body #kToolBar #kToolBox a#ContentPlaceHolder0_ctl00_VideoHyperLink:before {
  content: "\e87d";
}
body #kToolBar #kToolBox a#ContentPlaceHolder0_SecureButton:before {
  content: "\e80f";
}
body #kToolBar #kToolBox a#ImgSearch:before {
  content: "\e86f";
}
body #kToolBar #kToolBox a#ImgHistory:before {
  content: "\e863";
}
body #kToolBar #kToolBox a#pdfprinterLink:before {
  content: "\e865";
}
body #kToolBar #kToolBox a#linkFiles:before {
  content: "\e819";
}
body #kToolBar #kToolBox a#printerLink:before {
  content: "\e81c";
}
@media screen and (min-width: 1450px) {
  body #kMainContent .divTable.fourColumns .divTableRow .divTableCell {
    width: 25%;
    box-sizing: border-box;
  }
  body #kMainSearchBar {
    margin-top: 0;
  }
  body .search-box {
    width: 26%;
    box-sizing: border-box;
    height: auto;
    float: right;
    position: fixed;
    right: 0;
    z-index: 300;
    padding: 1em;
    margin: 1em 2em;
  }
  body #kToolBar .divTable.fourColumns .divTableRow:first-child {
    display: none;
  }
  body #kToolBar .divTable.fourColumns .divTableRow .divTableCell {
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 2.5em;
  }
  body #kToolBar .divTable.fourColumns .divTableRow .divTableCell .searchbox input {
    color: white;
  }
  body #kToolBar .divTable.fourColumns .divTableRow .divTableCell #ContentPlaceHolder0_toolbarPlaceHolder_myTimeLink {
    background-color: black!important;
  }
  body #kToolBar .divTable.fourColumns .divTableRow .divTableCell:before {
    font-family: Linearicons-Free;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    font-size: 5em;
    color: #007ac0;
  }
  body #kToolBar .divTable.fourColumns .divTableRow .divTableCell:first-child:before {
    content: "\e82d";
  }
  body #kToolBar .divTable.fourColumns .divTableRow .divTableCell:nth-child(2):before {
    content: "\e82b";
  }
  body #kToolBar .divTable.fourColumns .divTableRow .divTableCell:nth-child(3):before {
    content: "\e85f";
    display: block;
    padding-bottom: 0.2em;
  }
  body #kToolBar .divTable.fourColumns .divTableRow .divTableCell:nth-child(4):before {
    content: "\e87c";
    display: block;
    color: #e74c3c;
    font-size: 3em;
    padding-bottom: 0.2em;
  }
  body #kMainTableContainer {
    display: table-header-group;
  }
  body #kToolBar #kToolBox {
    right: calc(30% - 23px);
  }
  body #topBar {
    background-color: #303030 !important;
    height: 40px;
  }
  body #topBar #kClientName {
    background-color: white;
    height: 40px;
    box-sizing: border-box;
    width: 20%;
    text-align: left;
    padding-left: 3%;
  }
  body #topBar #kClientName a {
    color: #303030;
    padding-left: 50px;
    font-size: 12px;
  }
  body #topBar #kTopMenu {
    background-color: white;
    height: 40px;
    box-sizing: border-box;
    width: 50%;
    text-align: right;
    margin: 0;
    padding-right: 3%;
    right: 30%;
  }
  body #topBar #kTopMenu a,
  body #topBar #kTopMenu span {
    color: #303030;
    border: 1px solid #BDBDBD;
    border-radius: 0.3em;
  }
  body #topBar #kTopMenu a #activityCounter,
  body #topBar #kTopMenu span #activityCounter {
    color: #fff;
  }
  body #topBar #kTopMenu a:hover,
  body #topBar #kTopMenu span:hover,
  body #topBar #kTopMenu a.on {
    color: #007ac0;
    background-color: transparent;
    transition: all .2s;
    border-radius: 0.3em;
    border: 1px solid #007ac0;
  }
  body #kFooter #kFooterBox {
    width: 70%;
    display: block;
    border-top: 1px solid #E6E6E6;
  }
  body #kFooter #kBottomMenu {
    position: relative;
  }
  body #kMainSectionBox {
    display: block;
    padding-bottom: 0;
  }
  body #kMainContent {
    width: 70% !important;
    box-sizing: border-box;
    margin: 0;
    display: block;
  }
  body #kMainContent .push {
    height: 0;
  }
  body #kButtonsBar {
    height: 300px;
    width: 30%;
    box-sizing: border-box;
    float: right;
    position: fixed;
    right: 0;
    padding: 6em 4em 0 6em;
  }
  body #kToolBar {
    width: 30%;
    box-sizing: border-box;
    height: auto;
    float: right;
    position: fixed;
    right: 0;
    z-index: 200;
    padding: 6em 4em 2em 6em;
    pointer-events: none;
  }
  body #kToolBar #kPageTitle {
    font-size: 1.25em;
    width: auto;
    max-width: 50%;
  }
  body #kToolBar #kPageTitle a {
    color: white;
  }
  body #kToolBar a {
    pointer-events: all;
  }
  body #ButtonMenuBox {
    text-align: left !important;
  }
  body #ButtonMenuBox > div {
    width: 100%!important;
  }
  body #ButtonMenuBox > span,
  body #optionsContainer > span {
    display: table;
  }
  body #tabledevis {
    width: 100% !important;
    min-height: 100vh;
    margin-bottom: 0!important;
  }
  body #kButtonsBar .button,
  body #kButtonsBar .statutbtn,
  body #kButtonsBar .statutbtnhover,
  body #kButtonsBar .convertbtn,
  body #kButtonsBar .convertbtnhover {
    margin-bottom: 1em;
    float: none;
    display: table;
    font-size: 1.1em;
    border-radius: 2px;
  }
  body #kButtonsBar .button a,
  body #kButtonsBar .statutbtn a,
  body #kButtonsBar .statutbtnhover a,
  body #kButtonsBar .convertbtn a,
  body #kButtonsBar .convertbtnhover a {
    border: 1px solid transparent;
    background-color: transparent;
  }
  body #kButtonsBar .statutbtn,
  body #kButtonsBar .statutbtnhover {
    margin-left: auto;
  }
  body #kButtonsBar .statutbtn span:before,
  body #kButtonsBar .statutbtnhover span:before {
    display: none;
  }
  body #kButtonsBar .button.ajouterbtn,
  body #kButtonsBar .convertbtn,
  body #kButtonsBar .convertbtnhover {
    margin-top: 20px;
    margin-bottom: 0.5em;
  }
  body #kButtonsBar #savespan {
    float: left;
  }
  body #kButtonsBar #divvue {
    margin-bottom: 20px;
  }
  body #kButtonsBar #divvue select {
    width: auto;
    background: none;
    border: none;
    color: #007ac0;
    height: auto;
    border-radius: 0;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 35px;
    min-height: 10px;
    padding: 4px 10px!important;
    font-weight: bold;
  }
  body #kButtonsBar #divadd #ContentPlaceHolder0_toolbarPlaceHolder_includedraft_Span {
    font-size: 1.3em;
    webkit-font-smoothing: antialiased;
  }
  body #paiementWapper .gridviewContainer,
  body #divFiles .gridviewContainer {
    width: 100%;
    box-shadow: none;
    border: none;
    background: transparent;
    padding-bottom: 25px;
    padding-top: 0;
    padding-left: 0;
  }
  body #divFiles {
    position: relative!important ;
    top: 0 ;
    right: 0px ;
    float: left ;
    margin-bottom: 4em;
    display: block!important ;
  }
  body #divFiles .qq-upload-drop-area {
    width: 100% ;
    margin-bottom: 10px;
    border: 1px dashed #007ac0;
    background-color: rgba(248, 248, 248, 0.1);
    border-radius: 0.3em;
    transition: all .3s;
  }
  body #divFiles .qq-upload-drop-area span {
    font-style: italic;
    color: #666;
  }
  body #divFiles .qq-upload-drop-area:hover {
    border: 1px dashed white;
    transition: all .3s;
  }
  body #divFiles .add-button,
  body #divFiles #fileuploader-close {
    display: none ;
  }
  body #divFiles .filesquota {
    text-align: center ;
    color: #A0A0A0 ;
    font-size: 0.8em;
    font-style: italic;
    margin-top: -40px;
  }
  body #divFiles table#filesTable {
    width: 100%;
    border-collapse: separate!important;
    border-spacing: 0 2px!important;
    table-layout: fixed;
  }
  body #divFiles table#filesTable tr {
    border-radius: 0.3em;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    background-color: transparent!important;
  }
  body #divFiles table#filesTable tr:hover,
  body #divFiles table#filesTable tr.hover {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
  body #divFiles table#filesTable tr:hover td,
  body #divFiles table#filesTable tr.hover td {
    background-color: black!important;
  }
  body #divFiles table#filesTable tr:first-child td:first-child {
    border-top-left-radius: 0.3em;
  }
  body #divFiles table#filesTable tr:first-child td:last-child {
    border-top-right-radius: 0.3em;
  }
  body #divFiles table#filesTable tr:last-child td:first-child {
    border-bottom-left-radius: 0.3em;
  }
  body #divFiles table#filesTable tr:last-child td:last-child {
    border-bottom-right-radius: 0.3em;
  }
  body #divFiles table#filesTable th {
    font-size: 10px;
    opacity: 0;
  }
  body #divFiles table#filesTable th:last-child {
    width: 5%;
    padding-right: 5px;
  }
  body #divFiles table#filesTable th:nth-last-child(2) {
    width: 10%;
  }
  body #divFiles table#filesTable th:nth-last-child(3) {
    width: 10%;
  }
  body #divFiles table#filesTable th:nth-last-child(4) {
    padding-left: 25px;
    width: 30%;
  }
  body #divFiles table#filesTable th:nth-last-child(5) {
    width: 5%;
  }
  body #divFiles table#filesTable td {
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.15);
    color: white;
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body #divFiles table#filesTable td a {
    color: white;
  }
  body #divFiles table#filesTable td a.delete-button {
    line-height: 0;
  }
  body #divFiles .qq-upload-list {
    list-style: none;
    width: 100% !important;
  }
  body #paiementWapper {
    width: 100%;
    min-width: 200px;
    position: relative !important;
    top: 0 !important;
    right: 0px !important;
    float: left !important;
    margin-bottom: 2em;
    display: block !important;
  }
  body #paiementWapper table.gridview {
    width: 100%;
    border-collapse: separate!important;
    border-spacing: 0 2px!important;
    table-layout: fixed;
  }
  body #paiementWapper table.gridview thead td {
    font-size: 10px ;
  }
  body #paiementWapper table.gridview thead td:last-child {
    width: 5%;
    padding-right: 5px;
  }
  body #paiementWapper table.gridview thead td:nth-last-child(2) {
    width: 20%;
    text-align: right;
  }
  body #paiementWapper table.gridview thead td:nth-last-child(3) {
    width: 15%;
  }
  body #paiementWapper table.gridview thead td:nth-last-child(4) {
    width: 10%;
  }
  body #paiementWapper table.gridview thead td:nth-last-child(5) {
    width: 15%;
  }
  body #paiementWapper table.gridview thead td:nth-last-child(6) {
    width: 15%;
  }
  body #paiementWapper table.gridview thead td:nth-last-child(7) {
    width: 5%;
  }
  body #paiementWapper table.gridview tbody tr {
    border-radius: 0.3em;
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
    background-color: transparent!important;
  }
  body #paiementWapper table.gridview tbody tr:hover,
  body #paiementWapper table.gridview tbody tr.hover {
    border-bottom: 1px solid transparent;
    border-top: 1px solid transparent;
  }
  body #paiementWapper table.gridview tbody tr:hover td,
  body #paiementWapper table.gridview tbody tr.hover td {
    background-color: black!important;
  }
  body #paiementWapper table.gridview tbody td {
    padding: 0.5em;
    background-color: rgba(255, 255, 255, 0.15);
    border: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  body #paiementWapper table.gridview tbody td .totalLabel {
    height: 1em;
    line-height: 1em;
    margin-right: 0;
  }
  body #paiementWapper table.gridview tbody td .supprimer,
  body #paiementWapper table.gridview tbody td .editButton:before {
    line-height: 0;
  }
  body #paiementWapper table.gridview tbody td:nth-last-child(2) {
    overflow: visible;
    text-align: left;
  }
  body #paiementWapper table.gridview tbody tr:last-child td,
  body #paiementWapper table.gridview tbody tr:nth-last-child(2) td {
    background-color: transparent;
    color: white;
  }
  body #paiementWapper table.gridview tbody tr:last-child td:last-child,
  body #paiementWapper table.gridview tbody tr:nth-last-child(2) td:last-child {
    overflow: visible;
  }
  body #paiementWapper table.gridview tbody tr:last-child.hover td,
  body #paiementWapper table.gridview tbody tr:nth-last-child(2).hover td {
    background-color: transparent!important;
  }
  body #paiementWapper table.gridview a.delete-button {
    font-size: 1.2em;
  }
  body #ButtonMenuBox #ContentPlaceHolder0_toolbarPlaceHolder_spanpayer {
    float: left;
  }
  body #ButtonMenuBox #ContentPlaceHolder0_toolbarPlaceHolder_up_paymentsBtn {
    display: inline-table;
  }
  body #ButtonMenuBox #ContentPlaceHolder0_toolbarPlaceHolder_up_paymentsBtn {
    float: right;
  }
  body #ButtonMenuBox #ContentPlaceHolder0_toolbarPlaceHolder_up_paymentsBtn .cash_register-button:before {
    content: '\f00c';
  }
  body .pay-button-box {
    background: transparent !important;
    border: none !important;
    position: relative !important;
    padding: 0 !important;
    width: 100%;
  }
  body .pay-button-box .pay-button {
    display: block;
  }
  body .pay-button-box .pay-button .button {
    display: inline-block !important;
  }
  body .pay-button-box .pay-button #paiementmontant {
    font-size: 1.5em;
    font-family: arial;
    font-weight: bold;
    background-color: transparent;
    border-radius: 0.3em;
    padding: 6px 12px;
    width: 175px;
    height: auto;
    color: #f2c820;
    border: 1px solid #f2c820;
    display: inline-block;
    text-align: left;
  }
  body .pay-button-box .pay-button #paiementmontant:focus {
    outline: 0;
  }
  body .pay-button-box .pay-button .nobutton {
    padding: 0;
  }
  body .pay-button-box .pay-button #paysave {
    color: #000;
    text-decoration: none;
    background-color: #f2c820 !important;
    padding: 8px 12px;
    border-radius: 0.3em;
    letter-spacing: 0.3px;
    line-height: 16px;
    font-size: 14px;
    display: inline-block !important;
  }
  body .pay-button-box .paymentbox {
    background: transparent !important;
  }
  body .pay-button-box .paymentbox div {
    padding: 0.5em 0;
  }
  body .pay-button-box .paymentbox select {
    padding: 0.75em!important;
    height: auto;
    line-height: normal!important;
    border: 1px solid #BDBDBD;
    border-radius: 0.3em;
    font-family: Arial;
    font-weight: bold;
    font-size: 1.2em;
    height: auto!important;
  }
  body .pay-button-box .paymentbox #notepaiment {
    border-radius: 0.3em;
    min-height: 150px;
    background-color: transparent;
    border: 1px solid white;
    color: white;
  }
  body .pay-button-box .paymentbox #notepaiment:focus {
    border: 1px solid #f2c820;
    outline: 0;
  }
  body .nobutton-payments-style a {
    font-weight: bold;
    color: #f2c820;
  }
  body .nobutton-payments-style a:hover {
    color: white;
  }
  body #ButtonMenu select #ContentPlaceHolder0_ContentPlaceHolder1_logo {
    height: 44px;
  }
}
