// main: kiwili-style-2-col.less

@import "kiwili-variables";

body{
    #form1{
        display: table;
    }
    background-color: @color-light-grey;
    font-family: Arial;
    padding-left: 75px;
    padding-right: 0;

    td[valign="top"]{
        vertical-align: top;
    }

    #contentWrapper{
        padding: 3em;
        // background-color: rgba(255, 255, 255, 0.25);
        border-radius:0;
        min-height: 100vh;
        background-color: white;
    }

    #ButtonMenuBox {
        margin: 1em auto 1em;
        text-align: center;
    }
    #kMainMargin{
        margin:0;
        padding:0;
    }
    #kMainMargin > div{
        padding:0!important;
    }

    // #ContentPlaceHolder0_ContentPlaceHolder1_ImageButtonnext i,
    // #ContentPlaceHolder0_ContentPlaceHolder1_ImageButtonprevious i {
    //     font-size: 2em;
    // }

    #simpleTooltip{
        background-color:black;
        border:none;
        color:white;
        margin-top:-20px;
        margin-left:10px;
        margin-right:10px;
        z-index:100;
    }

    .ui-dialog input:not(#ContentPlaceHolder0_ContentPlaceHolder1_TimeEntryEdit_Hours){
        padding: 0.75em!important;
        height: auto;
        line-height: normal;
        border: 1px solid @color-medium-grey;
        border-radius: @border-radius-small;
        font-family: Arial;
        font-weight: bold;
        font-size: 1.2em;
    }

    // #simpleTooltip:after {
    //     right: 100%;
    //     top: 50%;
    //     border: solid transparent;
    //     content: " ";
    //     height: 0;
    //     width: 0;
    //     position: absolute;
    //     pointer-events: none;
    //     border-color: rgba(136, 183, 213, 0);
    //     border-right-color: black;
    //     border-width: 5px;
    //     margin-top: -5px;
    // }

    #ContentPlaceHolder0_ContentPlaceHolder1_ImageButtonnext,
    #ContentPlaceHolder0_ContentPlaceHolder1_ImageButtonprevious {
        position: absolute;
        top: 50%;
        margin-left: -15px;
    }

    #ContentPlaceHolder0_ContentPlaceHolder1_paypalpanel {
        width: 40%;
        display: inline;
        // background-color: white;
        height: 50px;
        margin: 0;
        box-sizing: border-box;
        margin-top: 0!important;
        padding-left: 5em;
        padding-right: 5em;
        padding-top: 25px;

    }

    .externalLinkBox {
        // background-color: white;
        height: 50px;
        width: 60%;
        padding-right:5em;
        padding-left:5em;
        box-sizing: border-box;
        text-align: right;
        padding-top: 0px;
        margin-bottom: 34px;

        //float:none;
        //display: inline;
        input {
            border:none;
            border-bottom:1px solid @color-blue;
            color:@color-blue;
            background-color:transparent;
        }
        #ContentPlaceHolder0_ContentPlaceHolder1_DocumentPreviewLink{
            margin-left: -18px;
        }
    }
    #bankDiv, #rateDiv {
        box-sizing: border-box;
        float: left;
        width: 49%;
        input[type="text"] {
            background-color: #f8f8f8;
            border: none ;
            color: #303030 ;
            font-size: 3em;
            margin: 5px 0 10px ;
            padding: 5px 10px ;
            text-align: left ;
            width: 100%;
        }
    }


    /* Tableau Trésorerie */

    #budgetSummary {
        background: transparent;
        tr td {
            background-color: transparent;
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            padding: 10px 10px;
            text-align: center;
            color:rgba(0, 0, 0, 0.5);

            &.budgetHeader,
            &.budgetHeaderCurrent {
                background: transparent;
                color: black;
            }
            &.budgetLineHeader {
                color: #808080;
                text-align: left;
            }
            &.budgetVide,
            &.budgetEmpty,
            &.budgetVideBorderBottom,
            &.budgetGris,
            &.budgetVert,
            &.budgetRouge {
                background: transparent;
                border:none;
            }
            &.budgettotal {
                background: #303030;
                border: none;
                font-size: 14px;
                padding: 20px 10px;
                text-align: center;
                text-shadow: none;
            }
            &.budgettotalnegatif {
                color: @color-red;
            }

            &.budgettotalpositif {
                color: @color-green;
            }


            &.budgetRouge {
                color: @color-red;
            }

            &.budgetVert {
                color: @color-green;
            }


            &[show="True"]{
                color:black;
                font-weight: bold;
                font-style: 1.2em;
                &.info[type="fact"],
                &.info[type="prevfact"]{color:@color-green;}

                &.depense,
                &.info[type="prevdepense"],
                &.info[type="depense"]{color: @color-red;}
            }

            &.budgettotal:first-child {
                background: transparent;
                border: none;
            }

            &:nth-of-type(3).budgetGris {
                background: transparent;
                border-color: #f7f7f7;
            }
            &.budgettotal:nth-child(3) {
                color:white;
            }

            &.redlink {
                // color: @color-blue;
                &:hover {
                    background-color: rgba(0, 0, 0, 0.1);
                    // color: white;
                    text-decoration: none;
                }
            }

            #solde {
                background: transparent;
                border: 1px solid rgb(96, 96, 96);
                padding: 0.5em;
                border-radius: 2px;
                color: white;
                font-size: 16px;
                text-align: left;
                width: 50%;
                margin-left: 10px;
            }
            .tooltip{
                background-color: #E6E6E6;
                border: 1px solid #E6E6E6;
                box-shadow: none;
                padding:15px;

                table tr{
                    &:first-child td{
                        border-top: none;
                        border-bottom:none;
                        font-size: 0.8em;
                    }
                    &.evenbudget,
                    &.oddbudget{
                        background-color: #f8f8f8;
                    }
                    &.hoverbudget{
                        transition: all 0.3;
                        background-color: white;
                    }
                    td:not(:last-child){
                        text-align: left;
                    }
                    td:last-child{
                        text-align:right;
                    }
                }
                .gridview{margin:0;}

            }
        }

        &> tbody > tr > td:first-child,
        &> tbody > tr > td:nth-child(1),
        &> tbody > tr > td:nth-child(2){
            display:none;
        }
        &> tbody > tr > td[colspan="10"],
        &> tbody > tr > td[colspan="13"]
        {display: block;}
        // tr:nth-child(13),
        // tr:nth-child(26){
        //     background-color: rgba(0, 0, 0, 0.1);
        // }
        // &> tbody > tr:nth-child(27) td{
        //         display: table-cell;
        // }



        .noteBudget{
            display:none;
        }
    }


    #budgetSummaryBox {
        border-bottom: none;
    }

    #clients {
        padding: 5px;
    }

    #description,
    #nomprojet {
        height: auto;
        line-height: 1.25em;
        width:100%;
        vertical-align: middle;
    }

    #descriptionLabel {
        vertical-align: top;
    }

    #divHistory {
        margin: 0% 5%;
        width:70%;
        box-sizing: border-box;
        display: block;
        height: auto;
        max-height: 2000px;
        opacity: 1;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);

        &.divCachee {
            width:70%;
            margin: 0% 5%;
            display: block;
            height: auto;
            max-height: 0px;
            opacity: 0;
            transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
            // padding:0;
        }
        &:not(.divCachee){
            margin: 0% 5%;
            width:70%;
            box-sizing: border-box;
            display: block;
            height: auto;
            max-height: 2000px;
            opacity: 1;
            transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
            // padding:1em;
            padding-bottom: 30px;
            padding-top: 30px;
        }
    }

    #divmodal,
    #projectarea,
    #notesArea {
        color: #777777;
    }


    #KiwiliAlertPopup > div{
        top:30vh;
        & > div{
            font-size: 1.25em;
            padding: 2em;
        }
        .button{
            .button-blue;
            a:after{content:"OK";
    font-family: Arial;}
        }
    }


    #heuresArea input[type="text"] {
        background: white;
        border: none;
        color: @color-blue;
        margin: 5px 0 10px;
        padding: 5px 10px;
        text-align: left;
    }

    #imgloading div,
    .loading {
        background: transparent;
        border: none;
        font-size: 3em;
    }

    #imgloading,
    #imgloadingmodal,
    .update {
        bottom: 1%;
        right: 2%;
        text-align: right;
        top: inherit;
        width: auto;
    }

    #itemsTable thead {
        border-bottom: 2px solid @color-light-grey;
        color: #303030;
    }



    #kFooter {
        background-color: transparent;
        height: 3em;
        #kiwiliLogo img {
            display:none;
        }
        #kFooterBox{
            padding: 1em 3% 0;
            background-color: white;
            box-sizing: border-box;
            height: 40px;

        }
        #kCopyrights{
            padding-left: 0;
            color: @color-dark-grey;
        }
        #kBottomMenu{
            a {
                color: @color-dark-grey;
                i{display: none;}
                &:hover{
                    transition: color .2s;
                    color:@color-blue;
                }
            }
        }

        .kPlan{display:none;}
        .kPlan a{font-size:11px;font-weight:bold;padding-left:2px;}
        .kPlan:before{content:"KIWILI";color:@color-medium-grey;font-weight:bold;font-size:11px;padding-left:0.75em;}
        // .kPlan:before{background-image: url("http://c.tonton.ca/kiwili/kLogo-footer.png");padding-left:0.75em;}
    }

    #topBar {
        background: @color-dark-grey;
        //display: table-footer-group;
        height: 40px;

        #kClientName{
            a{
                font-size: 12px;
            }
        }

        // #kClientName{
        //     background-color: white;
        //     height: 40px;
        //     box-sizing: border-box;
        //     width: 20%;
        //     text-align: left;
        //     padding-left:3%;
        //     a{
        //         color:@color-dark-grey;
        //         padding-left: 0;
        //         font-size: 12px;
        //     }
        // }

        // #kTopMenu {
        //     background-color: white;
        //     height: 40px;
        //     box-sizing: border-box;
        //     width: 50%;
        //     text-align: right;
        //     margin:0;
        //     padding-right: 3%;
        //     a,
        //     span {
        //         color:  @color-dark-grey;
        //         border:1px solid @color-medium-grey;
        //         border-radius: @border-radius-small;
        //         #activityCounter {
        //             color: #fff;
        //         }
        //     }
        //     a:hover,
        //     span:hover,
        //     a.on {
        //         color:@color-blue;
        //         background-color: transparent;
        //         transition: all .2s;
        //         border-radius: @border-radius-small;
        //         border: 1px solid @color-blue;
        //     }

        // }
    }



    #kGlobalMenuTableCell{
        display: block;
    }

    #kMainMenu,
    #kMainMenu.sticky {
        background-color: @color-blue;
        box-shadow: none;
        float: left;
        height: 1206px;
        left: 0;
        opacity: 1;
        padding: 0;
        position: fixed;
        top: 0;
        transition: none;
        width: 75px;
        z-index: 10000;
        font-size: 1.2em;

        #kMenuUL{
            li {
                display: block;
                padding: 0;

                a {
                    margin: 0 auto;
                    border-radius:0;
                    font-size: 0.7em;
                    padding: 1em 0.6em;
                    transition: all .3s;

                    &:visited,
                    &:hover{
                        background: rgba(48, 48, 48, 0.4);
                        transition: all .3s;
                    }
                    &.on{
                        background: #303030;
                        transition: all .3s;
                    }
                    &:before {
                        -webkit-font-smoothing: antialiased;
                        padding: 0;
                    }

                    &#bookinglink,
                    &#noteslink{
                        display:none;
                    }

                }
                .itemCounter {
                    display: block;
                    right: 1.2em;
                    top: 0.5em;
                }

            }
        }
    }


    #kMainSectionBox {
        background: transparent;
        border-radius: 0;
        padding-bottom:0;
    }


    #kMainTableCell {
        background: transparent;
        border-radius: 0;
        padding:0;
        display: block;
    }

    #kMainTableContainer {
        padding: 0px;
        // background: url("http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/seamless_paper_texture.png");
        background-color: @color-dark-grey;
    }

    #kMenuTable,
    #kMainMenu.sticky #kMenuTable {
        width: 75px;

        a span{
            display:block;
            margin-top: 3px;
        }

    }



    #kToolBar {
        background: transparent;
        border-radius: 0;

        #kPageTitle{
            margin-right: 15px;
        }
        #kToolBox {
            margin-top: 2px;
            position: fixed;
            top: 40%;
            width:42px;
            background-color: @color-blue;
            //border-radius:@border-radius-small;
            border-top-left-radius:@border-radius-small;
            border-bottom-left-radius:@border-radius-small;
            z-index: 10;
            padding-left:5px;

            a, a:visited, a:hover{

                padding: 0.6em;
                font-family: FontAwesome;
                text-decoration: none;
                font-size: 1.25em;
                margin: 0;
                background:transparent;
                border-radius: 0;
                transition: all .3s;
                color:white;
                // width:20px;
                // height:20px;
                text-align: center;

                span.itemCounter{
                    background-color: @color-red;
                    border-color:@color-red;
                    font-size: 0.7em;
                    font-family: arial;
                    right: 15px;
                    top: 8px;
                    visibility: visible;
                }
                &:first-child{
                     padding-top:15px;
                }
                &:last-child{
                     padding-bottom:15px;
                }
            }
            a:hover {
                //background: @color-dark-grey;
                color:@color-dark-grey;
                transition: all .3s;
            }
        }
    }


    #kMainSearchBar{display:none;}


    #kButtonsBar {
        color:white;
        .btnDlg{
            color:black;
            background-color:transparent;
            border:none;
            li{
                background-color:white;
                border:1px solid @color-light-grey;
                border-radius:@border-radius-small;
                &.hover{
                    border:1px solid @color-blue;
                }
            }
        }
    }

    @media screen and (max-width: 1449px) {
        #kButtonsBar, #kToolBar{
            box-sizing: border-box;
            display: inline-block;
        }
        #kToolBar {
            padding:15px;
            padding-top:12px;
            width: 100%;
            float:left;
            // position: absolute;
            left: 0;
        }
        #kToolBox {
            right: 0;
        }
        #kButtonsBar{
            width: 100%;
        }
        #ButtonMenuBox {
            padding: 0 20px;
        }
        .search-box{
            top: 50px;
            z-index: 300;
        }
        #topBar #kClientName a{
            padding-left:10px;
        }

    }

    #notesArea textarea {
        background: white;
        border: none;
        color: @color-blue;
        font-size: 16px;
        margin: 5px 0 10px;
        padding: 5px;
    }


    #projectDetails {
        padding: 2em;

        select {
            background-color: #f8f8f8;
            border: none ;
            color: #303030 ;
            font-size: 16px ;
            margin: 5px 0 10px ;
            padding: 0 10px ;
            width: 100%;
        }

        textarea {
            background: #f8f8f8;
            border: none ;
            color: #303030 ;
            font-size: 16px ;
            line-height: 1.25em;
            margin: 5px 0 10px ;
            padding: 10px ;
        }
    }



    #projectarea select {
        color: @color-blue;
        font-size: 16px;

    }

    #rateDiv {
        margin-right: 2%;
    }



    #tabs {
        padding: 2em;
        #projetUsers {
            border: none;
        }

        .ui-tabs-nav {
            background: transparent;
            border: none;

            li,
            li a {
                background: transparent;
                border: none;
            }

            a span:first-child {
                font-size: 1.2em;
            }
            li.ui-state-default {
                background-color: @color-light-grey;
                margin: 1px 3px 0 0;
                padding: 3px 5px 2px 5px;
                border-bottom:1px solid @color-light-grey;
            }
            li.ui-state-default.ui-state-hover {
                background-color: @color-light-grey;
                margin: 0 3px 0 0;
                padding: 3px 5px 3px 5px;
            }
            li.ui-tabs-selected {
                background-color: white;
                margin: 0 3px 0 0;
                padding: 3px 5px 3px 5px;
                border-top:@border-black-trans;
                border-left:@border-black-trans;
                border-right:@border-black-trans;
            }
        }
        .ui-tabs-panel{
            background-color: white;
            border: none;
            .blueBox {
                background-color: transparent;
                border:none;
                border-top: @border-black-trans;

                .FicheChamps{
                    background: transparent;
                    border: none;
                    padding: 0.3em!important;

                    input, textarea, select {
                        border-radius: @border-radius-small;
                        background: @color-light-grey;
                        border: @border-black-trans;
                        color: #303030;
                        font-size: 16px ;
                        line-height: 1.25em ;
                        margin: 5px 0 10px ;
                        padding: 10px ;
                        height: auto;
                    }
                }
            }
            .blueBox table {
                td#steptd {
                    padding: 0;
                    .stepsDetails {
                        background-color: transparent;
                        border: 0;
                        padding:0;
                        margin-left:2em;
                        #steptabs{
                            background-color: transparent;
                        }
                        .bluebox{
                            background-color: transparent;
                        }
                        #ContentPlaceHolder0_ContentPlaceHolder1_workedtime{
                            font-size: 16px;
                            line-height: 1.25em;
                            margin: 5px 0 10px;
                            padding: 10px ;
                            border-radius: @border-radius-small;
                            background: #f8f8f8 ;
                            border: 1px solid white;
                            display: inline-block;

                        }
                        #ContentPlaceHolder0_ContentPlaceHolder1_div_stepEditWrapper > table > tbody > tr > td {
                            border:none;
                            padding: 10px 10px;
                        }

                        #ContentPlaceHolder0_ContentPlaceHolder1_DropDownListAdmin {
                            margin-top: 5px;
                        }
                        // .boldLabel{
                        //     margin-bottom: 3px;
                        // }
                        textarea, input[type="text"]{
                            border-radius: 0.3em;
                            background: #f8f8f8;
                            border: 1px solid rgba(48, 48, 48, 0.2);
                            margin: 5px 0 10px;
                            padding: 10px;
                            height: auto;
                        }
                        // body #tabledevis #table1 #otherInfos > tbody > tr {
                        //     border-bottom: 1px solid #f8f8f8 !important;
                        // }
                    }
                    div.stepEditWrapper {
                        border: none;
                    }
                }
                td:nth-child(2) {
                    padding: 0.2em;
                }
                td:nth-child(3) {
                    padding: 0.2em;
                    border:none;
                }
            }
        }
        &.ui-widget-content {
            background: transparent;
            &.ui-tabs {
                background: transparent;
            }
        }
    }

    #tabs-1 td[width="33%"] {
        border:none;
        padding: 10px 10px;
    }

    #tddebutLabel,
    #tdfinLabel,
    #tdfin {
        padding: 0 8px 0 0;
        vertical-align: middle;
    }

    .FicheChamps {
        input.headerLabel {
            background-color: transparent;
            border: 1px solid transparent;
            font-size: 22px;
            margin-left: 1em;
        }
        input.headerLabel:hover, .FicheChamps input.headerLabel:focus {
            background-color: white;
        }
    }

    #divpopupcalendarpaiement{
        top: 100px;
        margin-left: 0px;
    }
    .RadCalendar{
        width: 320px!important;


        .rcRow td a {
            border: none;
            padding: 1px;
            text-align: center;
            line-height: 2.5em;
            font-weight: bold;
            color:white;
        }
        .rcRow td {
            border: none;
            &.rcWeekend a{
                color: @color-light-grey;
                font-weight:light;
            }
            &.rcHover a{
                background-color: @color-blue;
            }
        }

        .rcMain{
            border:0;
            .rcMainTable{
                background-color: @color-dark-grey;
            }
        }

        table {
            border-collapse: separate;
            border-spacing: 0.5em;
            border-bottom-right-radius: @border-radius-small;
            border-bottom-left-radius: @border-radius-small;
        }
        thead td.rcTitlebar{
            background-color:@color-blue;
            color:white;
            border:none;

            border-top-right-radius: @border-radius-small;
            border-top-left-radius: @border-radius-small;

            td.rcTitle{
                text-align: center;
                font-size: 1.25em;
                font-weight: bold;
                text-transform: uppercase;
            }

            .rcPrev,
            .rcNext,
            .rcFastPrev,
            .rcFastNext{
                background:none;
                text-indent:initial;
                color:@color-blue;
                border: 0;
                margin: 0;
                height: auto;
                width: auto;
                font-size: 0.9em;

                &:after{
                    height: 22px;
                    width: 16px;
                    color: white;
                    display: block;
                    margin-top: -20px;
                    letter-spacing: -0.3em;
                }
            }
            .rcPrev:after{content:"◀";}
            .rcFastPrev:after{content:"◀◀";}
            .rcNext:after{content:"▶";}
            .rcFastNext:after{content:"▶▶";}
        }
        .rcWeek th{
            border:none;
            color:@color-medium-grey;
        }

    }

    .breadCrumbItem {
        top: 12px;
        line-height: 1.1em;
    }




    .changerProjet,
    .changerFournisseur,
    .changerTaxes,
    #descriptionedit,
    .editDescription,
    textarea#remarques {
        padding: 5px;
        text-align: left;
        border-radius:@border-radius-small;
        border:1px solid transparent;
        font-family: Arial;
        line-height: 1.25em;
        width: 100%;
        &:focus,
        &:hover{
            background: #f8f8f8;
            color:@color-blue;
            transition: border-color 0.3s;
        }
        &:focus{
            outline: none;
            border:1px solid @color-blue;
        }
    }

    .edit{
        border-radius:@border-radius-small;

        &:focus,
        &:hover{
            background: #f8f8f8;
            color:@color-blue;
            transition: border-color 0.3s;
        }
        &:focus{
            outline: none;
            border:1px solid @color-blue;
        }
    }
    textarea#remarques {
        min-height: 120px;
    }
    textarea[disabled]#remarques {
        background-color:transparent;
    }

    .client {
        font-size: 14px;
    }

    .columnTitle i {
        background: transparent;
    }

    .currentdate,
    #dateArea a {
        color: #777;
    }

    .datecontainerweekday,
    .datecontainertoday,
    .datecontainerweekendday {
        border-radius: @border-radius-small;

        border: 1px solid white;
        min-height: 600px;
        height:85vh;
        transition: all 0.2s ease-in-out;
        &:hover, &.datecontainertoday {
            background-color: rgba(0,122,192,0.05);
            transition: all 0.3s ease-in-out;
            cursor: cell;
        }
        .task {
            border-radius: @border-radius-small;
            margin: 1px 2px;
            background-color: @color-dark-grey;
            border: none;
            color: white;
            .description,
            .heure {
                color: rgba(255, 255, 255, 0.8);
            }
            .projet {
                color: rgba(255, 255, 255, 0.6);
            }
            &hover{
              cursor: pointer;
            }
        }
    }
    .datecontainerweekday{
        background-color: @color-light-grey;
    }
    .datecontainerweekendday {
        background-color:rgba(248, 248, 248, 0.5);
    }
    .datecontainertoday {
        background-color: @color-light-grey;
        border-color: @color-blue;
        .weekDay {color: @color-blue;}
        width: 320px;
        .task{
          margin: 5px;
          background-color: @color-blue;

        }
    }



    .datecontainerweekendday .weekDay {
        color: #C8C8C8;
    }


    .description {
        color: #777;
        float: none;
        font-size: 13px;
        min-height: 7px;
    }

    .dvday {
        margin-top: 5px;
    }

    .editButton:before {
        color: @color-blue;
    }




    .forumDate {
        color: @color-blue;
    }

    .forumMsgFrom {
        padding-right: 10px;
        text-align: right;
        color:white;
    }

    .forumMsgL {
        border-left: 1px solid #999;
        border-top: none;
        margin-top: 1em;

    }

    .forumMsgT,
    .forumMsgL,
    .forumMsgFrom {
        background: transparent;
        // border-top: 1em solid transparent;
        border-top: none;
    }

    .forumText {
        font-weight: bold;
        color: #fff;
        div {
            color: #999;
            font-size: 1.2em;
            font-style: italic;
            font-weight: normal;
            padding-top: 10px;
        }
    }

    .forumText,
    .forumMsgInfo {
        background: transparent;
        border: none;
    }





    #gridviewContainer {
        border: none;
        box-shadow: none;
        padding:2em;
        margin:0;
    }


    .gridview{
        border-collapse: separate!important;
        border-spacing:0 2px!important;

        .item, .editProduct{
            border-radius: @border-radius-small;
            padding-left: 0.5em;
            background-color:transparent;
            border-color:transparent;
        }
        .itemTotal {
            font-weight: bold;
        }
        .moveit {
            padding-left: 1em;
            .item {
                overflow: hidden;
            }
        }
        .subheader a.link {
            font-size: 1.5em;
            text-decoration: none;
        }
        td, th{
            border:none;
            padding: 1em 0.5em;
            transition: all 0.3s;
        }
        // td:nth-child(2) {
        //     font-size: 1.2em;
        //     font-weight: bold;
        // }
        tr{
            &.even,
            &.odd {
                background-color: #f8f8f8;
                border: none;
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                border-radius: @border-radius-small;
            }
            &.on,
            &.hover  {
                background-color: #f8f8f8;
                border: none;
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                color: @color-blue;
                transition: all 0.2s;

                .item, .editProduct {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: @border-radius-small;
                    padding-left: 0.5em;
                    background-color:transparent;
                }
                a {
                    color: @color-blue;
                }
                td {
                    background-color: rgba(255, 255, 255, 0.75);
                    color: @color-blue;
                    transition: background-color 0.3s;
                }
            }
        }

    }


    #tabledevis{
        box-shadow: 0;
        margin: 0 auto;
        border:none;
        border-radius: 0;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;
        padding: 4em;

        #titre {
            color: #808080;
        }


        .totalHeader{
            margin-right: 0;
            color:@color-medium-grey;
        }
        .totalLabel{
            font-size: 1.4em;
            margin-right: 0;
            color:@color-dark-grey;
        }

        #ContentPlaceHolder0_ContentPlaceHolder1_soustotal{
            color:@color-blue;

            .totalLabel{
                color:@color-blue;
            }

        }
        tr[class^='tdtaxe'],
        tr[class*=' tdtaxe'],
        .tdtaxe156267,
        .tdtaxe256267,
        .tdtaxe157266,
        .tdtaxe257266,
        .tdtaxe1115030,
        .tdtaxe2115030,
        .tdtaxe156255,
        .tdtaxe256255,
        .tdtaxe1116006,
        .tdtaxe2116006,
        .tdtaxe1,
        .tdtaxe2{
            .totalLabel{
                font-size: 1em;
                color:@color-medium-grey;
            }
        }


        #itemsTable{
            table-layout: fixed;
            td{
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                &:nth-child(2){white-space: normal;}

            }

            thead th{
                font-size:9px;color:grey;
                div, &.tdtaxe1, &.tdtaxe2, .headerQty input{font-size:9px;color:grey;}
                &:nth-child(1){width:15%;}
                &:nth-child(2){width:25%;}
                &:nth-child(3){width:5%;}
                &:nth-child(4){width:5%;}
                &:nth-child(5){width:5%;}
                &:nth-child(6){width:5%;}
                &:nth-child(7){width:5%;}
                &:nth-child(8){width:5%;}
                &:last-child{width:2%;}

                &[align="right"]{text-align:right; }
                &[align="left"]{text-align:left; }
            }
            .hiddencheckbox1, .hiddencheckbox2{display:none;}
            tr {
                .tdtaxe1,
                .tdtaxe2{
                    i.fa{
                        float: right;
                        line-height: 1.5em;
                        font-size: 1.5em;
                    }
                }
                .tax1,
                .tax2{
                    line-height: 2em;

                }

            }
            tr.hover{
                // .fa-check-square-o{float:right;}
                .tax1, .tax2{display:none;}

            }
            .itemProduct, .editProduct{width:100%;}
            .deleterow{font-size: 20px;}
        }

    }

    #tabledevis{
        #table1{
            table-layout: fixed;
            #usernameDiv{padding-top:5px;}

            & > tbody > tr > td:first-child{
                width:25%;
                vertical-align: top;
                padding-right:10px;
            }

            & > tbody > tr > td:nth-child(2){
                width:25%;
                vertical-align: top;
                overflow: hidden;
                & > table{
                    tr{border-bottom:1px solid #f8f8f8;}
                    tr:first-child{ border-top:1px solid #f8f8f8;}

                    tr > td{
                        line-height: 2.5em;
                    }
                    tr > td:first-child {
                        font-weight: normal;
                        font-size: 0.7em;
                        color: grey;
                        vertical-align: middle!important;
                        width: 20% !important;
                    }
                    tr > td:last-child{
                        font-weight:bold;
                        font-size:1.1em;
                        white-space: normal;
                        width: 70%!important;
                    }
                    #nomfournisseur,
                    #nomtaxes{
                        height: auto ;
                        line-height: 1.25em ;
                        width: 100% ;
                    }
                }
                .nobutton{margin:0;padding:0;display:block;}
            }

            & > tbody > tr > td:nth-child(3){
                width:50%;
                padding-left:10%;
            }
            #otherInfos{


                & > tbody > tr{border-bottom:1px solid #f8f8f8;}
                & > tbody > tr:first-child{ border-top:1px solid #f8f8f8;}
                & > tbody > tr > td{line-height: 2.5em;text-align: left;
                    vertical-align: middle;}
                & > tbody > tr > td:first-child{
                    font-weight:normal;
                    font-size:0.7em;
                    color:grey;
                    strong{font-weight:normal;}
                    vertical-align: middle!important;
                    width: 20% !important;
                }

                & > tbody > tr > td:last-child{
                    font-weight:bold;
                    font-size:1.1em;
                    white-space: normal;
                    width: 80%!important;
                }
                a.date-button,
                a.date-button-due,
                #numerodevis,
                #ContentPlaceHolder0_ContentPlaceHolder1_noDevisHyperLink{
                    padding: 5px;
                    border-radius:@border-radius-small;
                    &:hover{
                        background: #f8f8f8;
                        transition: all 0.3s;
                    }
                }
            }
        }
    }

    #tabledevis .gridview{
        border-collapse: collapse!important;

        tr{
            &.even,
            &.odd {
                background-color: transparent;
                border: none;
                border-bottom: 1px solid @color-light-grey;
                border-top: 1px solid transparent;

            }
            &.on,
            &.hover  {
                background-color: #f8f8f8;
                border: none;
                border-bottom: 1px solid transparent;
                border-top: 1px solid transparent;
                color: @color-blue;
                transition: all 0.2s;
                border-radius: @border-radius-small;

                .item, .editProduct {
                    border: 1px solid rgba(0, 0, 0, 0.1);
                    border-radius: @border-radius-small;
                    padding-left: 0.5em;
                    background-color:transparent;
                }
                a {
                    color: @color-blue;
                }
                td {
                    background-color: transparent;
                    color: @color-blue;
                    transition: background-color 0.3s;
                }
            }
        }
    }


    .greyTable,
    .gridview{
        .redlink,
        .redlink:visited {
            color: @color-red;
            font-weight: bold;
            text-decoration: none;
        }
        .tooltip a.link,
        .tooltip a.link:hover{
            border: none;
        }
        a.link,
        a.link:visited{
            // border-bottom: 1px solid rgba(0, 122, 192, 0.75);

            color: @color-blue;
            padding: 2px 4px;
            text-decoration: none;
            transition: all 0.3s;
        }
        a.link:hover {
            background-color: rgba(255, 255, 255, 0.75);
            border-radius: @border-radius-small;
            color: @color-blue;
            padding: 2px 4px;
            text-decoration: none;
            transition: all 0.3s;
        }

    }

    /* Tableau Comptes à recevoir ou Liste de heures passées */
    #ContentPlaceHolder0_ContentPlaceHolder1_UpdatePanel1 .gridview {
        border-collapse: collapse!important;
        thead tr th{
            text-align: left;
            &:first-child{width:0.1%;}
        }

        tr.even,
        tr.odd{
            background-color: transparent;
            border: none;
            border-top: 1px solid rgba(0, 0, 0, 0.05);
            border-bottom: 1px solid rgba(0, 0, 0, 0.05);
            // font-size: 1.25em;
            td[total="0"],{
                color:@color-black-trans;
            }
            td:nth-child(3).redlink{
                color:@color-medium-grey;
            }

        }

        .tooltip {
            box-shadow: none;
            background-color: #fff;
            border: none;
            box-shadow: none;
            color: #303030;
            left: 0;
            line-height: 1.5em;
            padding: 0.75em 0.5em ;
            position: absolute;
            text-align: left;
            top: 0;
            z-index: 2;
        }

        .tooltip a.link {
            border: none;
            padding-bottom: 0;
        }
        .tooltip a i.fa{
            float: right;
        }

    }


    .button,
    .actionbtn,
    .actionbtnhover{
        border:none;
        background: none;
    }

    .actionbtnhover a{
        background-color:white;
        border:1px solid @color-blue;
        padding: 8px 16px;
        transition: all 0.3s;
    }

    .button a,
    .actionbtn a,
    #ContentPlaceHolder0_ContentPlaceHolder1_nextButton,
    #ContentPlaceHolder0_ContentPlaceHolder1_previousButton{
        text-align: center;
        padding: 8px 16px;
        border-radius: @border-radius-small;
        letter-spacing:0.3px;
        border:1px solid rgba(48, 48, 48, 0.3);
        transition: all 0.3s;
        line-height: 16px;
        background-color:@color-light-grey;
        &:hover{
            padding: 8px 16px;
            background-color:white;
            border:1px solid @color-blue;
            transition: all 0.3s;
        }
    }

    .button.button-payments-style {
        background: transparent;
        a {
            background-color: @color-yellow;
            color: black;
            border: 1px solid @color-yellow;
        }
    }
    .button a.cash_register-button{
        background-color: @color-yellow;
        color: black;
        border: 1px solid @color-yellow;
    }

    .statutbtn,
    .statutbtnhover{
        a {color:white;}
        border: 1px solid transparent;
        background-color: transparent;
    }

    #spanEmail.button {

        a {
            color: white;
            border-color: black;
            background: black;
        }
    }

    #savespan.button {

        .button-blue;
    }


    .button a.add-button{
        color: white;
        border-color: @color-blue;
        background: @color-blue;
        &:hover{
            background-color:black!important;
            color:white;
            border-color:black;
        }
    }

    .button.ajouterbtn .statutBtnIconDown{
        border:1px solid rgba(48, 48, 48, 0.3);
        background: #f0f0f0;
        color:@color-dark-grey;
        border-radius: @border-radius-small;
        a{
            border:none;
            background: transparent;
            color:@color-dark-grey;
            &:hover{
                 border:none;
                background: transparent;
                color:@color-dark-grey;
            }
        }
    }

    #ContentPlaceHolder0_ContentPlaceHolder1_nextButton,
    #ContentPlaceHolder0_ContentPlaceHolder1_previousButton{
        background-color:@color-blue;
        color:white;
        // border-color:@color-blue;
        &:hover{
            background-color:@color-dark-grey;
            color:white;
            border-color:@color-dark-grey;
        }
    }
    #ContentPlaceHolder0_ContentPlaceHolder1_nextButton:after{
        content:" →";
    }
    #ContentPlaceHolder0_ContentPlaceHolder1_previousButton:before{
        content:"← ";
    }

    .gridviewNavigatorItem:last-child {
        margin-right: 40px;
    }

    .heure {
        color: @color-blue;
    }

    .nbhours {
        color: @color-blue;
        font-size: 20px;
        margin: 0 0 10px;
        padding-top: 6px;
        text-align: center;
        width: 100%;
    }

    .projet {
        color: #999;
        font-size: 10px;
        font-style: italic;
        text-align: left;
    }
    .toggleListBtn {
        background-color: transparent;
        border: none;
        color: #303030;
    }

    .projetListeBox{

        .projetListeBoxInside {
            border: none;
            // padding: 5%;
            width: 90%;
            .ListeBoxCheckbox i.fa{
                font-size: 1.3em;
            }
        }
        .unSelectedProjectItem {
            font-weight: normal;
            background-color:@color-light-grey;
            margin-bottom: 5px;
            padding: 5px;
            border-radius:@border-radius-small;
            border: 1px solid @color-light-grey;
        }
        .selectedProjectItem {

            color: @color-blue;;
            // font-weight: bold;
            border: 1px solid @color-blue;
            transition:all 0.3s;
            .disabled {
                color: @color-medium-grey;
                // border: 1px solid @color-medium-grey;
            }
        }

    }



    .stepsList{
        margin: 0.5em 1em 0.3em 0;
    }

    .stepsList tr:not(.header){

        td{
            background-color: @color-light-grey;
            border: 1px solid white;
            border-radius:@border-radius-small;
            padding: 1em;
            .stepNameLink {
                padding: 0;
            }
        }

        &.selected td{
            background-color: #f8f8f8;
            border-color: @color-blue;
            color: @color-blue;
            &.hover .stepNameLink,
            .stepNameLink {
                border:none;
                padding: 0;
                background-color:transparent;
                float:none;
                margin:0;
                color: @color-blue;
            }
        }
    }

    #gridviewNavigator{
        text-align: center;
    }

    #newstepBtn{
        width: 100%;
        padding-right: 1em;
    }


    .tallBox #mesprojetsBox.jspScrollable {
        height: 27em;
    }

    .task {
        background-color: #E8E8E8;
        border: none;
        margin-bottom: 5px;
        overflow: hidden;
        padding: 5px;
    }

    .tdsemaine {

    }
    #ContentPlaceHolder0_ContentPlaceHolder1_semaine{
        color: #303030;
        font-size: 20px;
        font-weight: 200;
        padding: 5px;
        padding-bottom: 30px;
        text-align: center;
    }


    .thback {
        background: transparent;
    }



    .checkbox1, .checkbox2 {
        font-size: 1.2em!important;
    }

    .ui-dialog {
        transition: all 0.5s;
        width:520px;
        .ui-dialog-title {
            color: #999;
            float: left;
            margin: .1em 0 .2em;
            text-align: center;
            width: 100%;
        }
        .ui-dialog-titlebar {
            background: transparent;
        }
        .ui-dialog-titlebar-close{
            font-size: 1.8em;
            color:@color-dark-grey;
            right:0;
        }
        &.ui-widget-content {
            background: @color-light-grey;
        }
        #divemail{
            font-family: Arial;
            textarea{
                padding: 1em;
                background: transparent;
                border-color: @color-medium-grey;
                border-radius: @border-radius-small;
                font-family: Arial;
                font-size: 1.2em;
                max-height: 350px;
                &:focus{
                    background-color:white;
                    outline: none;
                    border:1px solid @color-blue;
                }
            }
            select, input{
                padding: 0.75em!important;
                height: auto;
                line-height: normal;
                border: 1px solid @color-medium-grey;
                border-radius: @border-radius-small;
                font-family: Arial;
                font-weight: bold;
                font-size: 1.2em;
            }
            .modalButtonBox .button a{
                background-color:@color-blue;
                border-color:@color-blue;
                color:white;
            }
        }
        &[aria-labelledby="ui-dialog-title-ContentPlaceHolder0_ContentPlaceHolder1_TimeEntryEdit_Dialog"]{
          width:400px;

          padding-right: 400px;

          #notesArea{
            position: fixed;
            top: 200px;
            left: 50vw;
            width: 350px;
            height: 500px;
            padding: 1.8em;

            textarea{
              max-height:100%;
              height: 300px;
              padding:15px;
            }
          }
        }
    }



    .ui-widget-overlay {
        transition: all 0.5s;
    }


    .weekDay div.nbhours {
        text-align: center;
    }

    .weekDay,
    .weekDay:hover,
    .datecontainertoday .weekDay:hover {
        background: transparent;
        border: none;
        border-color: #999;
        color: #777;
        height: 50px;
        padding-bottom: 5px;
        padding-top: 10px;
        text-align: center;
        width: 100%;
    }

    .weekDay:before {
        display: none;
    }

    .weekDayJour {
        text-transform: none;
    }

    .wrap {
        max-width: 120em;
        width: 100%;
    }


    a.itemPrice, .hover a.itemPrice, input.editPrice {
        width: 100%;
    }

    a.stepNameLink.complete {
        left: 14px;
    }

    select.selectList {
        // background-origin: content-box;
        background-size: 12px;
        background-position: right 5px center;
        border-radius: @border-radius-small;
        padding: 0px 2em 0px 8px;
        box-sizing: border-box;
        border: 1px solid @color-black-trans;
        background-color:@color-light-grey;
        height: auto;

        &:hover{
            border: 1px solid @color-blue;
            transition: all 0.3s;
        }
    }
    .RadComboBox.RadComboBox_MetroKiwili{
        border-radius: @border-radius-small;
        padding: 4px 3px 4px 8px;
        box-sizing: border-box;
        border: 1px solid @color-black-trans;
        background-color:@color-light-grey;
        height: auto;
        .rcbReadOnly .rcbInputCell,
        .rcbReadOnly .rcbArrowCell{
            background-color: transparent;
            border:none;
            a{
                background-position: 0px 6px;
                background-size: 42px;
                width: 16px;
                height: 20px;
            }
        }
         &:hover{
            border: 1px solid @color-blue;
            transition: all 0.3s;
        }
    }

    tr.selected a.stepNameLink.complete {
        left: 0px;
    }

    #ContentPlaceHolder0_toolbarPlaceHolder_Labelrecurringdepense,
    #ContentPlaceHolder0_toolbarPlaceHolder_Labeltotalenretard {
        font-size: 1.6em;
        padding:0.2em 0em 0.4em;
    }

    #ContentPlaceHolder0_toolbarPlaceHolder_Labeltotalenretard {
        color: #e74c3c;
    }


    .divTable.fourColumns {
        // margin-top: 35vh;

        .divTableRow {
            // &:first-child{display:none;}
            margin-bottom: 4em;
            .columnTitle {
                margin-bottom: 0;
                border: none;
                width: 100%;
                padding-top: 6em;
                i {
                    color: rgba(0, 0, 0, 0.15);
                    font-size: 5em;
                }
            }
            .action {
                margin-top: 1.5em;
                text-align: center;
                display: inline;
                a {
                    padding: .5em 1em;
                    border-radius: @border-radius-small;
                    border: 1px solid transparent;
                    background-color: @color-blue;
                    font-size: 1.2em;
                    font-weight: bold;
                    display: block;
                    margin: .5em auto;
                    color:white;
                    max-width:250px;
                    line-height: 1.6em;
                    &.file-button{
                        background-color: black;
                    }
                    &:hover {
                        background-color: black;
                        transition: all .2s;
                    }
                }
            }

            div.searchbox {
                padding: .5em 1em;
                border-radius: @border-radius-small;
                border: 1px solid @color-blue;
                background-color: transparent;
                margin: .5em auto;
                max-width:280px;

                a {
                    padding: .4em .8em;
                }
                input {
                    font-size: 1.2em;
                    line-height: 1.6em;
                    pointer-events: all;
                }
            }
            .divTableCell {
                display: inline-block;
                @media screen and (max-width:1449px){
                    width: 25%;
                    padding: 0;
                }

            }
        }
        .divTableCell {
            .greyBox {
                background: white;

                padding: 1em;
                &.smallBox {width:100%;}
                .blueLabel {
                    font-size: 1.4em;
                    line-height: 1.35em;
                }
            }
            text-align: center;
        }
        .tallBox .StatsBoxTitle, .tallBox .StatsBoxTitle{margin-top:0;}
        #mesprojetsBox, #mestodosBox{text-align:left;margin:0;}
    }












    .heuresemaine {
        font-size: 1.1em;
        font-style: italic;
        color: #999;
    }

    #ContentPlaceHolder0_ContentPlaceHolder1_emptyTodoBox {
        font-size: 0.8em;
    }

    #ContentPlaceHolder0_ContentPlaceHolder1_emptyTodoBox:before {
        content: none;
    }







    .changerClient,
    #infofournisseur {
        padding: 5px;
        border: none;
        &:hover {
            background: #f8f8f8;
        }
    }


    .stepHours {
        font-size: 1.6em;
        background: transparent;
        color: @color-blue;
        font-weight: bold;
        border:none;

        &.negative{
             color: @color-red;
        }
    }
    #ContentPlaceHolder0_ContentPlaceHolder1_FieldBalanceHours{
        margin-right: 1em;
    }


    #ContentPlaceHolder0_ContentPlaceHolder1_nomTextBox {
        background: none;
        border: none;
        font-size: 22px;
        font-weight: bold;
        width: 50%;
    }

    #ContentPlaceHolder0_ContentPlaceHolder1_nomTextBox:hover {
        background: white;
        transition: background .3s;
        border: radius:2px;
    }

    #ContentPlaceHolder0_ContentPlaceHolder1_logoImage {
        border: none;
    }




    #datesRapport {
        font-style: 1.5em;
    }

    .gridviewFooter{
        background: rgba(155, 197, 61, 0.5);
        margin: 0.75em;
        border: none;
        padding: 1em;
    }
}

@media screen and (max-width:1200px){
    #optionsContainer{
        background-color: #f8f8f8;
        border-radius:@border-radius-small;
        box-sizing: border-box;

        .button{
            max-width: 30px;
            max-height:30px;
            box-sizing: border-box;
            vertical-align: middle;
        }


        .convertbtnhover a span,
        .convertbtn a span,
        .button a{
            width: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-indent: 20px;
            padding: 6px 10px!important;
            border:none!important;
            background-color:transparent;

            &:before{
                text-indent: 0;
                float: left;
            }
        }
        .convertbtnhover,
        .convertbtn{
            border:none;
            background-color:transparent;
            vertical-align: middle;
            a{
                padding:0;
            }
            span:before{
                padding-left: 0;
            }
        }

    }
}


/* Tests icones */
@import url("https://cdn.linearicons.com/free/1.0.0/icon-font.min.css");

//#kMenuTable ul li a:before{
body #kToolBar #kToolBox a#ContentPlaceHolder0_ctl00_VideoHyperLink,
body #kToolBar #kToolBox a#ImgSearch,
body #kToolBar #kToolBox a#linkFiles,
body #kToolBar #kToolBox a#pdfprinterLink,
body #kToolBar #kToolBox a#ImgHistory,
body #kToolBar #kToolBox a#ContentPlaceHolder0_SecureButton,
body #kToolBar #kToolBox a#printerLink,
.editdiv a,
.gridview a[title="Partiellement payé"],
.gridview a[title="Émise"],
.gridview a[title="Payé"],
.gridview a[title="Brouillon"],
.gridview a[title="À payer"],
.gridview a[title="Envoyé"],
.gridview a[title="Annulé"],
.gridview a[title="Facturé"],
.gridview a[title="Lu"],
.gridview a[title="Accepté"],
.fa-arrow-right,
.fa-arrow-left,
#contactslink,
#clientslink,
#accueillink,
#projetslink,
#todolink,
#tempslink,
#repportslink,
#devislink,
#factureslink,
#depenseslink,
#budgetlink{
    &:before{
        font-family: Linearicons-Free;
        speak: none;
        font-style: normal;
        font-weight: 400;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
    }
}



#contactslink:before{
    content: "\e82b";
}
#clientslink:before{
    content: "\e82d";
}
#accueillink:before{
    content: "\e800";
}
#projetslink:before{
    content: "\e88e";
}
#todolink:before{
    content: "\e87f";
}
#devislink:before{
    content: "\e84b";
}
#tempslink:before{
    content: "\e85f";
}
#repportslink:before{
    content: "\e843";
}
#budgetlink:before{
    content: "\e845";
}

#factureslink:before{
    content: "\e867";
}

#depenseslink:before{
    content: "\e868";
}


.fa-arrow-right:before{
    content: "\e876";
}
.fa-arrow-left:before{
    content: "\e875";
}


.gridview a[title="Partiellement payé"],
.gridview a[title="Émise"],
.gridview a[title="Payé"],
.gridview a[title="Brouillon"],
.gridview a[title="À payer"],
.gridview a[title="Envoyé"],
.gridview a[title="Annulé"],
.gridview a[title="Facturé"],
.gridview a[title="Lu"],
.gridview a[title="Accepté"]{
    font-size:1.1em;
    img{display:none;}
     &:before{font-weight:bold;}
}


.gridview a[title="Envoyé"]{
    color:@color-blue;
    &:before{
        content: "\e818";
    }
}
.gridview a[title="Lu"]{
    color:@color-purple;
    &:before{
        content: "\e81b";
    }
}
.gridview a[title="Annulé"]{
    color:@color-red;
    &:before{
        content: "\e870";
    }
}
.gridview a[title="Facturé"]{
    color:@color-dark-grey;
    &:before{
        content: "\e81e";
    }
}
.gridview a[title="Accepté"]{
    color:@color-green;
    &:before{
        content: "\e87f";
    }
}

.gridview a[title="À payer"]{
    color:@color-blue;
    &:before{
        content: "\e82e";
    }
}
.gridview a[title="Brouillon"]{
    color:@color-dark-grey;
    &:before{
        content: "\e81d";
    }
}
.gridview a[title="Payé"]{
    color:@color-green;
    &:before{
        content: "\e87f";
    }
}

.gridview a[title="Émise"]{
    color:@color-blue;
    &:before{
        content: "\e84b";
    }
}
.gridview a[title="Partiellement payé"]{
    color:@color-yellow;
    &:before{
        content: "\e842";
    }
}


.editdiv a .editButton{
    display:none;
}
.editdiv a:before{
    content: "\e876";
    font-weight: bold;
}


body #kToolBar #kToolBox a#ContentPlaceHolder0_ctl00_VideoHyperLink,
body #kToolBar #kToolBox a#ContentPlaceHolder0_SecureButton,
body #kToolBar #kToolBox a#ImgSearch,
body #kToolBar #kToolBox a#linkFiles,
body #kToolBar #kToolBox a#pdfprinterLink,
body #kToolBar #kToolBox a#ImgHistory,
body #kToolBar #kToolBox a#printerLink{
    visibility: hidden;
    &:before{
        visibility: visible;
        font-size:1.5em;
    }
}
body #kToolBar #kToolBox a#ContentPlaceHolder0_ctl00_VideoHyperLink:before{content: "\e87d";  }
body #kToolBar #kToolBox a#ContentPlaceHolder0_SecureButton:before{content: "\e80f";  }
body #kToolBar #kToolBox a#ImgSearch:before{content: "\e86f";  }
body #kToolBar #kToolBox a#ImgHistory:before{content: "\e863";  }
body #kToolBar #kToolBox a#pdfprinterLink:before{content: "\e865";  }
body #kToolBar #kToolBox a#linkFiles:before{content: "\e819";  }
body #kToolBar #kToolBox a#printerLink:before{content: "\e81c";  }
