@color-blue: #007ac0;
@color-red: #e74c3c;
@color-green: #40A014;
@color-yellow: #f2c820;
@color-black: #000;
@color-purple: #8e44ad;

@color-dark-grey: #303030;
@color-light-grey: #f8f8f8;
@color-medium-grey: #BDBDBD;
@color-black-trans:rgba(48, 48, 48, 0.2);


@border-radius-small: 0.3em;
@border-black-trans:1px solid @color-black-trans;

.button-blue {
    a {
        color: white;
        border-color: @color-blue;   
        background: @color-blue;
    }
    a:hover{
        background-color:@color-black;
        color:white;
        border-color:@color-black;
    }
}