// out: kiwili-style-deluxe.css, sourcemap: false, compress: false

@import "kiwili-variables";
@import "kiwili-style";

@media screen and (min-width: 1450px) {
    body{
        #kMainContent .divTable.fourColumns{
            .divTableRow{
                .divTableCell{
                    width:25%;
                    box-sizing:border-box;
                }
            }
        }
        #kMainSearchBar{
            margin-top: 0;
        }
        .search-box{
            width: 26%;
            box-sizing: border-box;
            height: auto;
            float: right;
            position: fixed;
            right: 0;
            z-index: 300;
            padding: 1em;
            margin:1em 2em;
        }

        #kToolBar .divTable.fourColumns{
            .divTableRow{
                &:first-child{display:none;}
                .divTableCell{
                    width:100%;
                    box-sizing: border-box;
                    margin-bottom: 2.5em;
                    .searchbox input{    color: white;}
                    #ContentPlaceHolder0_toolbarPlaceHolder_myTimeLink{background-color:black!important;}
                        &:before{
                            font-family: Linearicons-Free;
                            speak: none;
                            font-style: normal;
                            font-weight: 400;
                            font-variant: normal;
                            text-transform: none;
                            line-height: 1;
                            -webkit-font-smoothing: antialiased;
                            font-size: 5em;
                            color: #007ac0;
                        }
                    &:first-child{
                        &:before{
                            content: "\e82d";
                        }
                    }
                    &:nth-child(2){
                        &:before{
                            content: "\e82b";
                        }
                    }
                    &:nth-child(3){
                        &:before{
                            content: "\e85f";
                            display: block;
                            padding-bottom:0.2em;
                        }
                    }
                    &:nth-child(4){
                        &:before{
                            content: "\e87c";
                            display: block;
                            color:@color-red;
                            font-size:3em;
                            padding-bottom:0.2em;
                        }
                    }
                }
            }
        }
        #kMainTableContainer {
            display: table-header-group;
        }
        #kToolBar #kToolBox{
            right: ~"calc(30% - 23px)";
            //padding-top:1em;

        }

        #topBar {
            background-color: @color-dark-grey!important;
            //display: table-footer-group;
            height: 40px;
            //margin-left: -53px;

            #kClientName{
                background-color: white;
                height: 40px;
                box-sizing: border-box;
                width: 20%;
                text-align: left;
                padding-left:3%;
                a{
                    color:@color-dark-grey;
                    padding-left: 50px;
                    font-size: 12px;
                }
            }

            #kTopMenu {
                background-color: white;
                height: 40px;
                box-sizing: border-box;
                width: 50%;
                text-align: right;
                margin:0;
                padding-right: 3%;
                right: 30%;
                a,
                span {
                    color:  @color-dark-grey;
                    border:1px solid @color-medium-grey;
                    border-radius: @border-radius-small;
                    #activityCounter {
                        color: #fff;
                    }
                }
                a:hover,
                span:hover,
                a.on {
                    color:@color-blue;
                    background-color: transparent;
                    transition: all .2s;
                    border-radius: @border-radius-small;
                    border: 1px solid @color-blue;
                }

            }
        }
        #kFooter{

            #kFooterBox{
                width: 70%;
                display: block;
                border-top: 1px solid #E6E6E6;
            }
            #kBottomMenu{
                position: relative;
            }
        }

        #kMainSectionBox {
            display: block;
            padding-bottom:0;
        }
        // #kMainSectionBox > * {
        //     // padding: 2em;
        // }
        #kMainContent {
            width: 70% !important;
            box-sizing: border-box;
            margin: 0;
            display: block;
            .push{height:0;}
        }
        #kButtonsBar {
            height: 300px;
            width: 30%;
            box-sizing: border-box;
            float: right;
            position: fixed;
            right: 0;
            padding: 6em 4em 0 6em;
        }
        #kToolBar {
            width: 30%;
            box-sizing: border-box;
            height: auto;
            float: right;
            position: fixed;
            right: 0;
            z-index: 200;
            padding: 6em 4em 2em 6em;
            pointer-events: none;

            #kPageTitle {
                font-size: 1.25em;
                width: auto;
                max-width: 50%;
                // padding-top: 0.5em;
                a{color:white;}
            }
            a{
                pointer-events: all;
            }

        }
        #ButtonMenuBox {
            text-align: left !important;

        }
        #ButtonMenuBox > div{width:100%!important;}
        #ButtonMenuBox > span,
        #optionsContainer > span
        {
            display:table;
        }



        #tabledevis {
            width: 100% !important;
            min-height: 100vh;
            margin-bottom:0!important;
        }
        #tasks {
        }

        #kButtonsBar{
            .button,
            .statutbtn,
            .statutbtnhover,
            .convertbtn,
            .convertbtnhover
             {

                margin-bottom: 1em;
                float: none;
                display: table;
                font-size: 1.1em;
                border-radius: 2px;
                a {
                    border: 1px solid transparent;
                    background-color: transparent;
                  }
            }
            .statutbtn,
            .statutbtnhover {
                margin-left: auto;
            }


            .statutbtn span:before,
            .statutbtnhover span:before {
                display: none;
            }
            .button.ajouterbtn,
            .convertbtn,
            .convertbtnhover {
                margin-top: 20px;
                margin-bottom: 0.5em;
            }

            #savespan{
                float: left;
            }

            #divvue{
                // font-size: 2em;
                margin-bottom: 20px;

                select {
                    width: auto;
                    background: none;
                    border: none;
                    color: @color-blue;
                    height: auto;
                    border-radius: 0;
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    width: 35px;
                    min-height: 10px;
                    padding: 4px 10px!important;
                    font-weight: bold;
                }
            }
            #divadd{
                #ContentPlaceHolder0_toolbarPlaceHolder_includedraft_Span{
                    font-size: 1.3em;
                    webkit-font-smoothing: antialiased;
                }
            }
        }

        #paiementWapper .gridviewContainer,
        #divFiles .gridviewContainer {
            width: 100%;
            box-shadow: none;
            border: none;
            background: transparent;
            padding-bottom: 25px;
            padding-top: 0;
            padding-left: 0;
        }
        #divFiles{
            position: relative!important ;
            top: 0 ;
            right: 0px ;
            float: left ;
            margin-bottom: 4em;
            display: block!important ;

            .qq-upload-drop-area {
                width: 100% ;
                margin-bottom: 10px;
                border: 1px dashed @color-blue;
                background-color: rgba(248, 248, 248, 0.1);
                border-radius:@border-radius-small;
                transition: all .3s;
                span{font-style: italic;color:#666;}
                &:hover{
                    border: 1px dashed white;
                    transition: all .3s;
                }
            }
            .add-button,
            #fileuploader-close {
                display: none ;
            }

            .filesquota {
                text-align: center ;
                color: #A0A0A0 ;
                font-size: 0.8em;
                font-style: italic;
                margin-top: -40px;

            }
            table#filesTable {
                width: 100%;
                border-collapse: separate!important;
                border-spacing:0 2px!important;
                table-layout: fixed;

                tr {

                    border-radius: @border-radius-small;
                    border-bottom: 1px solid transparent;
                    border-top: 1px solid transparent;
                    background-color: transparent!important;
                    &:hover, &.hover{
                        border-bottom: 1px solid transparent;
                        border-top: 1px solid transparent;
                        td{
                            background-color:black!important;
                        }
                    }



                }
                tr:first-child td:first-child { border-top-left-radius: @border-radius-small; }
                tr:first-child td:last-child { border-top-right-radius: @border-radius-small; }
                tr:last-child td:first-child { border-bottom-left-radius: @border-radius-small; }
                tr:last-child td:last-child { border-bottom-right-radius: @border-radius-small; }

                th{
                    font-size: 10px;
                    opacity: 0;

                    &:last-child {
                        width: 5%;
                        padding-right:5px;
                    }
                    &:nth-last-child(2) {
                        width: 10%;
                    }
                    &:nth-last-child(3) {
                        width: 10%;
                    }
                    &:nth-last-child(4) {
                        padding-left:25px;
                        width: 30%;
                    }
                    &:nth-last-child(5) {
                        width: 5%;
                    }
                }
                td {
                    padding: 0.5em;
                    background-color: rgba(255, 255, 255, 0.15);
                    color:white;
                    border:none;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    a{color:white;}
                    a.delete-button {
                        line-height:0;
                    }
                }


            }
            .qq-upload-list {
                list-style: none;
                width: 100% !important;
            }
        }
        #paiementWapper{
            width:100%;
            min-width: 200px;
            position: relative !important;
            top: 0 !important;
            right: 0px !important;
            float: left !important;
            margin-bottom: 2em;
            display: block !important;
            table.gridview {
                width: 100%;
                border-collapse: separate!important;
                border-spacing:0 2px!important;
                table-layout: fixed;

                thead td{
                    font-size: 10px ;
                    //delete
                    &:last-child {
                        width: 5%;
                        padding-right:5px;
                    }
                    //Montant
                    &:nth-last-child(2) {
                        width: 20%;
                        text-align: right;
                    }
                    //Date
                    &:nth-last-child(3) {
                        width: 15%;
                    }
                    //Description
                    &:nth-last-child(4) {
                        // padding-left:25px;
                        width: 10%;
                    }
                    //Type
                    &:nth-last-child(5) {
                        width: 15%;
                    }
                    //par
                    &:nth-last-child(6) {
                        width: 15%;
                    }
                    //select
                    &:nth-last-child(7) {
                        width: 5%;
                    }


                }
                tbody {

                    tr {
                        border-radius: @border-radius-small;
                        border-bottom: 1px solid transparent;
                        border-top: 1px solid transparent;
                        background-color:transparent!important;
                        &:hover, &.hover{
                            border-bottom: 1px solid transparent;
                            border-top: 1px solid transparent;
                            td{
                                background-color:black!important;
                            }
                        }

                    }

                    td {
                        padding: 0.5em;
                        background-color: rgba(255, 255, 255, 0.15);
                        border:none;
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                        .totalLabel{
                            height: 1em;
                            line-height: 1em;
                            margin-right: 0;
                        }
                        .supprimer, .editButton:before{line-height:0;}

                        //Montant
                        &:nth-last-child(2) {
                            overflow: visible;
                            text-align: left;

                        }
                    }
                    tr:last-child,
                    tr:nth-last-child(2){
                        td {background-color: transparent;color:white;}
                        td:last-child{overflow: visible;}
                        &.hover td{
                            background-color: transparent!important;
                        }
                    }
                }
                a.delete-button {
                    font-size: 1.2em;
                }

            }
        }


        #ButtonMenuBox #ContentPlaceHolder0_toolbarPlaceHolder_spanpayer{
            float: left;
        }
        #ButtonMenuBox #ContentPlaceHolder0_toolbarPlaceHolder_up_paymentsBtn{
            display: inline-table;
        }
        #ButtonMenuBox #ContentPlaceHolder0_toolbarPlaceHolder_up_paymentsBtn{
            float: right;
            .cash_register-button:before {
                content: '\f00c';
            }

        }
        .pay-button-box {
            background: transparent !important;
            border: none !important;
            position: relative !important;
            padding: 0 !important;
            width:100%;
            .pay-button{
                display:block;
                .button{display: inline-block!important;}
                #paiementmontant {
                    font-size: 1.5em;
                    font-family: arial;
                    font-weight: bold;

                    background-color: transparent;
                    border-radius: @border-radius-small;
                    padding: 6px 12px;
                    width: 175px;
                    height:auto;
                    color: @color-yellow;
                    border: 1px solid @color-yellow;

                    display:inline-block;
                    text-align: left;

                    &:focus {
                        outline: 0;
                    }
                }
                .nobutton{padding:0;}
                #paysave {
                    color: #000;
                    text-decoration: none;
                    background-color: @color-yellow!important;;
                    padding: 8px 12px;
                    border-radius: @border-radius-small;
                    letter-spacing: 0.3px;
                    line-height: 16px;
                    font-size: 14px;
                    display: inline-block!important;
                }
            }
            .paymentbox {
                background: transparent !important;
                div {
                    padding: 0.5em 0;
                }
                select{
                    padding: 0.75em!important;
                    height: auto;
                    line-height: normal!important;
                    border: 1px solid @color-medium-grey;
                    border-radius: @border-radius-small;
                    font-family: Arial;
                    font-weight: bold;
                    font-size: 1.2em;
                    height:auto!important;
                }
                #notepaiment{
                    border-radius: @border-radius-small;
                    min-height: 150px;
                    background-color:transparent;
                    border:1px solid white;
                    color:white;
                    &:focus{
                        border:1px solid @color-yellow;
                        outline: 0;
                    }
                }
            }
        }

        .nobutton-payments-style a{
            font-weight: bold;
            color:@color-yellow;
            &:hover{
                color:white;
            }
        }



        #ButtonMenu select
        #ContentPlaceHolder0_ContentPlaceHolder1_logo {
            height: 44px;
        }
    }
}
